# Loading the benchmark data and queries

* LSQB
* SNAP
* JOB
* STATS
* HETIO

# PostgreSQL

## Create the DB users

In [25]:
%%bash

export PGPASSWORD=postgres

create_db() {
cat <<EOF
        create user $1 with password '$1';
        create database $1;
        grant all privileges on database $1 to $1;
        \c $1 postgres
        grant all on schema public to $1;
EOF
}

psql --host=postgres --username postgres --dbname postgres <<-EOSQL
        $(create_db lsqb)
        $(create_db snap)
        $(create_db imdb)
        $(create_db stats)
        $(create_db hetio)
EOSQL

ERROR:  role "lsqb" already exists
ERROR:  database "lsqb" already exists

GRANT
You are now connected to database "lsqb" as user "postgres".
GRANT

ERROR:  role "snap" already exists
ERROR:  database "snap" already exists

GRANT
You are now connected to database "snap" as user "postgres".
GRANT

ERROR:  role "imdb" already exists
ERROR:  database "imdb" already exists

GRANT
You are now connected to database "imdb" as user "postgres".
GRANT

ERROR:  role "stats" already exists
ERROR:  database "stats" already exists

GRANT
You are now connected to database "stats" as user "postgres".
GRANT

ERROR:  role "hetio" already exists
ERROR:  database "hetio" already exists

GRANT
You are now connected to database "hetio" as user "postgres".
GRANT

# LSQB

## Fetch LSQB data

You either can download one LSQB dataset, deciding which scale factor you want or a lot of different ones. Both methods are provided here.  

Only load one dataset with scale factor SF (here = 1)

In [2]:
!chmod +x lsqb/scripts/download-merged-fk-single-data-set.sh

In [3]:
%%bash
cd lsqb
export SF=1
./scripts/download-merged-fk-single-data-set.sh
cd ..

Downloading scale factor 1

Downloading the LSQB data for different scale factors: 0.1, 0.3, 1, 3, 10, 30, 100, 300, 1000

In [4]:
#!chmod +x lsqb/scripts/download-merged-fk-data-sets.sh

In [5]:
#%%bash
#cd lsqb
#export MAX_SF=300
#./scripts/download-merged-fk-data-sets.sh
#cd ..

## Import the LSQB benchmark data

Import the benchmark data for scale factor 1

In [6]:
!chmod +x import-lsqb.sh

In [7]:
%%bash
export SF=1
./import-lsqb.sh

psql:lsqb/sql/drop.sql:1: NOTICE:  view "message" does not exist, skipping

DROP VIEW

psql:lsqb/sql/drop.sql:2: NOTICE:  view "comment_replyof_message" does not exist, skipping
psql:lsqb/sql/drop.sql:3: NOTICE:  view "message_hascreator_person" does not exist, skipping
psql:lsqb/sql/drop.sql:4: NOTICE:  view "message_hastag_tag" does not exist, skipping
psql:lsqb/sql/drop.sql:5: NOTICE:  view "message_islocatedin_country" does not exist, skipping
psql:lsqb/sql/drop.sql:6: NOTICE:  view "person_likes_message" does not exist, skipping
psql:lsqb/sql/drop.sql:8: NOTICE:  table "company" does not exist, skipping
psql:lsqb/sql/drop.sql:9: NOTICE:  table "university" does not exist, skipping
psql:lsqb/sql/drop.sql:10: NOTICE:  table "continent" does not exist, skipping
psql:lsqb/sql/drop.sql:11: NOTICE:  table "country" does not exist, skipping
psql:lsqb/sql/drop.sql:12: NOTICE:  table "city" does not exist, skipping
psql:lsqb/sql/drop.sql:13: NOTICE:  table "tag" does not exist, skipping
psql:lsqb/sql/drop.sql:14: NOTICE:  table "tagclass" does not exist, skipping
psql:lsqb/sql/drop.sql:15: NOTICE:  table "forum" does not exist, skipping
psql:lsqb/sql/drop.sql:16: NOTICE:  table "comment" does not exist, skipping
psql:lsqb/sql/drop.sql:17: NOTICE:  table "post" does not exist, skipping
psql:lsqb/sql/drop.sql:18: NOTICE:  table "person" does not exist, skipping
psql:lsqb/sql/drop.sql:19: NOTICE:  table "comment_hastag_tag" does not exist, skipping
psql:lsqb/sql/drop.sql:20: NOTICE:  table "post_hastag_tag" does not exist, skipping
psql:lsqb/sql/drop.sql:21: NOTICE:  table "forum_hasmember_person" does not exist, skipping
psql:lsqb/sql/drop.sql:22: NOTICE:  table "forum_hastag_tag" does not exist, skipping

DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE

psql:lsqb/sql/drop.sql:23: NOTICE:  table "person_hasinterest_tag" does not exist, skipping
psql:lsqb/sql/drop.sql:24: NOTICE:  table "person_likes_comment" does not exist, skipping
psql:lsqb/sql/drop.sql:25: NOTICE:  table "person_likes_post" does not exist, skipping
psql:lsqb/sql/drop.sql:26: NOTICE:  table "person_studyat_university" does not exist, skipping
psql:lsqb/sql/drop.sql:27: NOTICE:  table "person_workat_company" does not exist, skipping
psql:lsqb/sql/drop.sql:28: NOTICE:  table "person_knows_person" does not exist, skipping

DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1575
COPY 6380
COPY 6
COPY 111
COPY 1343
COPY 109617
COPY 2580332
COPY 1229275
COPY 11000
COPY 16080
COPY 71
COPY 3148317
COPY 815205
COPY 3268415
COPY 354213
COPY 255596
COPY 1668015
COPY 853145
COPY 8880
COPY 23600
COPY 226293
COPY 226293
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW

# SNAP

## Fetch the SNAP data

In [8]:
!chmod +x snap/remove-header.sh

In [9]:
%%bash

datasets=("http://snap.stanford.edu/data/cit-Patents.txt.gz"
          "http://snap.stanford.edu/data/wiki-topcats.txt.gz"
          "http://snap.stanford.edu/data/web-Google.txt.gz"
          "http://snap.stanford.edu/data/bigdata/communities/com-dblp.ungraph.txt.gz")

cd snap

for d in ${datasets[*]}; do
    if [ ! -f $(basename $d) ]; then
        curl -O $d;
        gunzip $(basename $d)
    else
        echo "$(basename $d) exists"
    fi
done

./remove-header.sh

cd ..

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 81.1M  100 81.1M    0     0  5532k      0  0:00:15  0:00:15 --:--:-- 13.3M
gzip: cit-Patents.txt already exists;	not overwritten
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 95.1M  100 95.1M    0     0  5812k      0  0:00:16  0:00:16 --:--:-- 13.3M
gzip: wiki-topcats.txt already exists;	not overwritten
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20.1M  100 20.1M    0     0  2116k      0  0:00:09  0:00:09 --:--:-- 4087k
gzip: web-Google.txt already exists;	not overwritten
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4041k  100 4041k    0     0   635k      0  0:00:06  0:00:06 --:--:--  824k
gzip: com-dblp.ungraph.txt already exists;	not overwritten

## Import the SNAP data

In [10]:
%%writefile import-snap.sql

DROP TABLE IF EXISTS patents;
CREATE TABLE patents (fromNode integer, toNode integer);
\copy patents FROM 'snap/noheader/cit-Patents.txt' with (header false);

DROP TABLE IF EXISTS wiki;
CREATE TABLE wiki (fromNode integer, toNode integer);
\copy wiki FROM 'snap/noheader/wiki-topcats.txt' with (header false, delimiter ' ');

DROP TABLE IF EXISTS google;
CREATE TABLE google (fromNode integer, toNode integer);
\copy google FROM 'snap/noheader/web-Google.txt' with (header false);

DROP TABLE IF EXISTS dblp;
CREATE TABLE dblp (fromNode integer, toNode integer);
\copy dblp FROM 'snap/noheader/com-dblp.ungraph.txt' with (header false);

Overwriting import-snap.sql

In [11]:
%%bash

PGPASSWORD=snap psql -h postgres -U snap -d snap -f import-snap.sql

psql:import-snap.sql:2: NOTICE:  table "patents" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 16518948

psql:import-snap.sql:6: NOTICE:  table "wiki" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 28511807

psql:import-snap.sql:10: NOTICE:  table "google" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 5105039

psql:import-snap.sql:14: NOTICE:  table "dblp" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 1049866

## Generate SNAP queries

In [12]:
import glob
from pathlib import Path

snap_tables = ['patents', 'wiki', 'google', 'dblp']

Path(f'snap-queries/all').mkdir(parents=True, exist_ok=True)
for tablename in snap_tables:
    Path(f'snap-queries/{tablename}').mkdir(parents=True, exist_ok=True)
    # We use the patent queries as the base and replace the references to the patent relation
    base_query_files = glob.glob('snap-queries/patents/*.sql')
    for file in base_query_files:
        query = Path(file).read_text()
        basename = Path(file).name
        new_query = query.replace('patents', tablename)
        with open(f'snap-queries/{tablename}/{basename}', 'w') as new_file:
            new_file.write(new_query)
        with open(f'snap-queries/all/{tablename}-{basename}', 'w') as new_file:
            new_file.write(new_query)

# JOB

## Import the JOB/IMDB data

In [13]:
%%bash
cd job
tar -xzf export.sql.tar.gz

In [14]:
%%bash
tail -n 50 job/export.sql

CREATE INDEX title_idx_kindid ON public.title USING btree (kind_id);


--
-- Name: title_idx_md5; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_md5 ON public.title USING btree (md5sum);


--
-- Name: title_idx_pcode; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_pcode ON public.title USING btree (phonetic_code);


--
-- Name: title_idx_season_nr; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_season_nr ON public.title USING btree (season_nr);


--
-- Name: title_idx_title; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_title ON public.title USING btree (title);


--
-- Name: title_idx_year; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_year ON public.title USING btree (production_year);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO imdb;


--
-- PostgreSQL database dump complete
--

In [15]:
%%bash

cd job
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb -f export.sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER SEQUENCE
ALTER SEQUENCE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
COPY 1312273
COPY 528297
COPY 63475835
COPY 4314864
COPY 4
COPY 362131
COPY 4
COPY 135086
COPY 113
COPY 236627
COPY 9
COPY 18
COPY 4958296
COPY 29774686
COPY 7480087
COPY 2585150
COPY 6379740
COPY 4130207
COPY 12
COPY 3300000
 setval
---------
 1312273
(1 row)

 setval
--------
      1
(1 row)

  setval
----------
 63475835
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      4
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      4
(1 row)

 setval
--------
 135086
(1 row)

 setval
--------
    113
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      9
(1 row)

 setval
--------
     18
(1 row)

 setval
---------
 4958296
(1 row)

  setval
----------
 29774686
(1 row)

 setval
---------
 7480087
(1 row)

 setval
---------
 2585150
(1 row)

 setval
--------
      1
(1 row)

 setval
---------
 4130207
(1 row)

 setval
--------
     12
(1 row)

 setval
--------
      1
(1 row)

ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX

psql:export.sql:128975271: WARNING:  no privileges were granted for "public"

GRANT

In [16]:
%%bash
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb
\dt

            List of relations
 Schema |      Name       | Type  | Owner
--------+-----------------+-------+-------
 public | aka_name        | table | imdb
 public | aka_title       | table | imdb
 public | cast_info       | table | imdb
 public | char_name       | table | imdb
 public | comp_cast_type  | table | imdb
 public | company_name    | table | imdb
 public | company_type    | table | imdb
 public | complete_cast   | table | imdb
 public | info_type       | table | imdb
 public | keyword         | table | imdb
 public | kind_type       | table | imdb
 public | link_type       | table | imdb
 public | movie_companies | table | imdb
 public | movie_info      | table | imdb
 public | movie_keyword   | table | imdb
 public | movie_link      | table | imdb
 public | name            | table | imdb
 public | person_info     | table | imdb
 public | role_type       | table | imdb
 public | title           | table | imdb
(20 rows)

# STATS

## Import the STATS dataset

In [17]:
%%bash

cd stats
PGPASSWORD=stats psql -h postgres -U stats -d stats -f datasets/stats.sql
PGPASSWORD=stats psql -h postgres -U stats -d stats -f scripts/stats_load.sql

CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 79851
COPY 174305
COPY 40325
COPY 1032
COPY 91976
COPY 328064
COPY 303187
COPY 11102

## Generate the STATS queries

Some small errors in the names of the foreign keys are fixed (from https://arxiv.org/pdf/2109.05877.pdf)

In [18]:
import re

query_file = Path('stats/workload/stats_CEB.sql').read_text()
queries = []
for i, row in enumerate(query_file.split('\n')):
    count = int(row.split('||')[0])
    query = row.split('||')[1]

    p = re.compile("('\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}')::timestamp")
    query_replaced = p.sub(lambda match: f'CAST({match.group(1)} AS TIMESTAMP)', query)
    queries.append((i, count, query_replaced))

queries.sort(key=lambda t: t[1])

hints = [('FK(t.ExcerptPostId, p.Id)', ['t', 'p']),
        ('FK(pl.PostId, p.Id)', ['pl', 'p']),
        ('FK(pl.RelatedPostId, p.Id)', ['pl', 'p']),
        ('FK(c.PostId, p.Id)', ['c', 'p']),
        ('FK(ph.PostId, p.Id)', ['ph', 'p']),
        ('FK(v.PostId, p.Id)', ['v', 'p']),
        ('FK(p.OwnerUserId, u.Id)', ['p', 'u']),
        ('FK(c.UserId, u.Id)', ['c', 'u']),
        ('FK(ph.UserId, u.Id)', ['ph', 'u']),
        ('FK(b.UserId, u.Id)', ['b', 'u']),
        ('FK(v.UserId, u.Id)', ['v', 'u'])]

for i, (idx, count, query_replaced) in enumerate(queries):
    with open(f'stats-queries/{i+1:03}-{idx+1:03}.sql', 'w') as f:
        f.write(query_replaced)
    with open(f'stats-queries/hints/{i+1:03}-{idx+1:03}-hint.sql', 'w') as f:
        applicable_hints = list(map(lambda h: h[0],
                               list(filter(lambda h: re.search('as {rname}( |,)'.format(rname=h[1][0]), query_replaced) is not None
                                           and re.search('as {rname}( |,)'.format(rname=h[1][1]), query_replaced) is not None, hints))))
        if (len(applicable_hints) > 0):
            query_hints = query_replaced.replace('SELECT', f'SELECT /*+ {",".join(applicable_hints)} */ ')
            f.write(query_hints)
        else:
            f.write(query_replaced)

# HETIONET

In [19]:
%%bash
rm hetionet-v1.0.json.bz2
wget https://github.com/hetio/hetionet/raw/main/hetnet/json/hetionet-v1.0.json.bz2

--2024-04-24 08:56:17--  https://github.com/hetio/hetionet/raw/main/hetnet/json/hetionet-v1.0.json.bz2
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://media.githubusercontent.com/media/hetio/hetionet/main/hetnet/json/hetionet-v1.0.json.bz2 [following]
--2024-04-24 08:56:18--  https://media.githubusercontent.com/media/hetio/hetionet/main/hetnet/json/hetionet-v1.0.json.bz2
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16112094 (15M) [application/octet-stream]
Saving to: ‘hetionet-v1.0.json.bz2’

     0K .......... .......... .......... .......... ..........  0% 6.77M 2s
    50K .......... .......... .......... .......... ..........  0% 13.2M 2s
   100K .......... .......... .......... .......... ..........  0% 18.4M 1s
   150K .......... .......... .......... .......... ..........  1% 14.2M 1s
   200K .......... .......... .......... .......... ..........  1% 19.5M 1s
   250K .......... .......... .......... .......... ..........  1% 51.0M 1s
   300K .......... .......... .......... .......... ..........  2% 52.6M 1s
   350K .......... .......... .......... .......... ..........  2% 30.8M 1s
   400K .......... .......... .......... .......... ..........  2% 41.7M 1s
   450K .......... .......... .......... .......... ..........  3%  169M 1s
   500K .......... .......... .......... .......... ..........  3% 34.2M 1s
   550K .......... .......... .......... .......... ..........  3% 45.2M 1s
   600K .......... .......... .......... .......... ..........  4%  121M 1s
   650K .......... .......... .......... .......... ..........  4% 63.4M 1s
   700K .......... .......... .......... .......... ..........  4% 66.4M 1s
   750K .......... .......... .......... .......... ..........  5% 42.2M 1s
   800K .......... .......... .......... .......... ..........  5% 75.5M 1s
   850K .......... .......... .......... .......... ..........  5% 65.3M 1s
   900K .......... .......... .......... .......... ..........  6% 86.3M 0s
   950K .......... .......... .......... .......... ..........  6% 56.1M 0s
  1000K .......... .......... .......... .......... ..........  6% 97.1M 0s
  1050K .......... .......... .......... .......... ..........  6%  203M 0s
  1100K .......... .......... .......... .......... ..........  7% 37.3M 0s
  1150K .......... .......... .......... .......... ..........  7%  159M 0s
  1200K .......... .......... .......... .......... ..........  7% 47.8M 0s
  1250K .......... .......... .......... .......... ..........  8% 86.9M 0s
  1300K .......... .......... .......... .......... ..........  8% 27.3M 0s
  1350K .......... .......... .......... .......... ..........  8%  227M 0s
  1400K .......... .......... .......... .......... ..........  9%  122M 0s
  1450K .......... .......... .......... .......... ..........  9% 31.0M 0s
  1500K .......... .......... .......... .......... ..........  9%  106M 0s
  1550K .......... .......... .......... .......... .......... 10% 67.8M 0s
  1600K .......... .......... .......... .......... .......... 10% 81.1M 0s
  1650K .......... .......... .......... .......... .......... 10% 73.1M 0s
  1700K .......... .......... .......... .......... .......... 11% 33.2M 0s
  1750K .......... .......... .......... .......... .......... 11% 77.6M 0s
  1800K .......... .......... .......... .......... .......... 11%  184M 0s
  1850K .......... .......... .......... .......... .......... 12% 46.5M 0s
  1900K .......... .......... .......... .......... .......... 12% 90.4M 0s
  1950K .......... .......... .......... .......... .......... 12%  136M 0s
  2000K .......... .......... .......... .......... .......... 13% 74.6M 0s
  2050K .......... .......... .......... .......... .......... 13% 33.4M 0s
  2100K .......... .......... .......... .......... .......... 13% 54.0M 0s
  2150K .......... .......... .......... .......... .......... 13% 34.6M 0s
  2200K .......... .......... .......... .......... .......... 14%  250M 0s
  2250K .......... .......... .......... .......... .......... 14%  109M 0s
  2300K .......... .......... .......... .......... .......... 14% 72.0M 0s
  2350K .......... .......... .......... .......... .......... 15%  159M 0s
  2400K .......... .......... .......... .......... .......... 15% 78.3M 0s
  2450K .......... .......... .......... .......... .......... 15% 45.4M 0s
  2500K .......... .......... .......... .......... .......... 16%  170M 0s
  2550K .......... .......... .......... .......... .......... 16% 65.7M 0s
  2600K .......... .......... .......... .......... .......... 16% 44.2M 0s
  2650K .......... .......... .......... .......... .......... 17%  111M 0s
  2700K .......... .......... .......... .......... .......... 17% 99.8M 0s
  2750K .......... .......... .......... .......... .......... 17%  112M 0s
  2800K .......... .......... .......... .......... .......... 18%  190M 0s
  2850K .......... .......... .......... .......... .......... 18% 50.0M 0s
  2900K .......... .......... .......... .......... .......... 18%  151M 0s
  2950K .......... .......... .......... .......... .......... 19%  111M 0s
  3000K .......... .......... .......... .......... .......... 19%  318M 0s
  3050K .......... .......... .......... .......... .......... 19% 66.4M 0s
  3100K .......... .......... .......... .......... .......... 20%  141M 0s
  3150K .......... .......... .......... .......... .......... 20% 55.0M 0s
  3200K .......... .......... .......... .......... .......... 20%  535M 0s
  3250K .......... .......... .......... .......... .......... 20% 53.7M 0s
  3300K .......... .......... .......... .......... .......... 21%  131M 0s
  3350K .......... .......... .......... .......... .......... 21% 98.2M 0s
  3400K .......... .......... .......... .......... .......... 21% 78.2M 0s
  3450K .......... .......... .......... .......... .......... 22%  258M 0s
  3500K .......... .......... .......... .......... .......... 22% 56.9M 0s
  3550K .......... .......... .......... .......... .......... 22%  141M 0s
  3600K .......... .......... .......... .......... .......... 23%  131M 0s
  3650K .......... .......... .......... .......... .......... 23%  238M 0s
  3700K .......... .......... .......... .......... .......... 23%  123M 0s
  3750K .......... .......... .......... .......... .......... 24% 51.4M 0s
  3800K .......... .......... .......... .......... .......... 24%  243M 0s
  3850K .......... .......... .......... .......... .......... 24%  179M 0s
  3900K .......... .......... .......... .......... .......... 25%  266M 0s
  3950K .......... .......... .......... .......... .......... 25%  135M 0s
  4000K .......... .......... .......... .......... .......... 25% 79.6M 0s
  4050K .......... .......... .......... .......... .......... 26%  102M 0s
  4100K .......... .......... .......... .......... .......... 26%  169M 0s
  4150K .......... .......... .......... .......... .......... 26%  331M 0s
  4200K .......... .......... .......... .......... .......... 27% 80.5M 0s
  4250K .......... .......... .......... .......... .......... 27% 41.3M 0s
  4300K .......... .......... .......... .......... .......... 27% 83.8M 0s
  4350K .......... .......... .......... .......... .......... 27%  264M 0s
  4400K .......... .......... .......... .......... .......... 28%  293M 0s
  4450K .......... .......... .......... .......... .......... 28% 47.2M 0s
  4500K .......... .......... .......... .......... .......... 28% 30.3M 0s
  4550K .......... .......... .......... .......... .......... 29%  269M 0s
  4600K .......... .......... .......... .......... .......... 29%  154M 0s
  4650K .......... .......... .......... .......... .......... 29%  302M 0s
  4700K .......... .......... .......... .......... .......... 30% 48.7M 0s
  4750K .......... .......... .......... .......... .......... 30% 63.3M 0s
  4800K .......... .......... .......... .......... .......... 30%  147M 0s
  4850K .......... .......... .......... .......... .......... 31% 68.3M 0s
  4900K .......... .......... .......... .......... .......... 31%  298M 0s
  4950K .......... .......... .......... .......... .......... 31% 49.7M 0s
  5000K .......... .......... .......... .......... .......... 32% 54.8M 0s
  5050K .......... .......... .......... .......... .......... 32% 72.4M 0s
  5100K .......... .......... .......... .......... .......... 32%  287M 0s
  5150K .......... .......... .......... .......... .......... 33% 91.6M 0s
  5200K .......... .......... .......... .......... .......... 33% 28.6M 0s
  5250K .......... .......... .......... .......... .......... 33% 48.4M 0s
  5300K .......... .......... .......... .......... .......... 34%  108M 0s
  5350K .......... .......... .......... .......... .......... 34%  277M 0s
  5400K .......... .......... .......... .......... .......... 34%  136M 0s
  5450K .......... .......... .......... .......... .......... 34% 82.8M 0s
  5500K .......... .......... .......... .......... .......... 35% 92.8M 0s
  5550K .......... .......... .......... .......... .......... 35%  366M 0s
  5600K .......... .......... .......... .......... .......... 35% 90.8M 0s
  5650K .......... .......... .......... .......... .......... 36% 75.6M 0s
  5700K .......... .......... .......... .......... .......... 36% 77.2M 0s
  5750K .......... .......... .......... .......... .......... 36% 69.0M 0s
  5800K .......... .......... .......... .......... .......... 37%  233M 0s
  5850K .......... .......... .......... .......... .......... 37% 92.8M 0s
  5900K .......... .......... .......... .......... .......... 37%  251M 0s
  5950K .......... .......... .......... .......... .......... 38% 80.7M 0s
  6000K .......... .......... .......... .......... .......... 38%  382M 0s
  6050K .......... .......... .......... .......... .......... 38% 77.6M 0s
  6100K .......... .......... .......... .......... .......... 39% 90.2M 0s
  6150K .......... .......... .......... .......... .......... 39%  283M 0s
  6200K .......... .......... .......... .......... .......... 39%  203M 0s
  6250K .......... .......... .......... .......... .......... 40%  300M 0s
  6300K .......... .......... .......... .......... .......... 40%  102M 0s
  6350K .......... .......... .......... .......... .......... 40%  128M 0s
  6400K .......... .......... .......... .......... .......... 40% 99.8M 0s
  6450K .......... .......... .......... .......... .......... 41% 89.2M 0s
  6500K .......... .......... .......... .......... .......... 41%  318M 0s
  6550K .......... .......... .......... .......... .......... 41% 73.4M 0s
  6600K .......... .......... .......... .......... .......... 42% 97.2M 0s
  6650K .......... .......... .......... .......... .......... 42%  177M 0s
  6700K .......... .......... .......... .......... .......... 42% 55.6M 0s
  6750K .......... .......... .......... .......... .......... 43%  339M 0s
  6800K .......... .......... .......... .......... .......... 43%  219M 0s
  6850K .......... .......... .......... .......... .......... 43% 80.1M 0s
  6900K .......... .......... .......... .......... .......... 44%  167M 0s
  6950K .......... .......... .......... .......... .......... 44%  162M 0s
  7000K .......... .......... .......... .......... .......... 44%  183M 0s
  7050K .......... .......... .......... .......... .......... 45% 84.0M 0s
  7100K .......... .......... .......... .......... .......... 45%  105M 0s
  7150K .......... .......... .......... .......... .......... 45% 87.7M 0s
  7200K .......... .......... .......... .......... .......... 46%  268M 0s
  7250K .......... .......... .......... .......... .......... 46%  130M 0s
  7300K .......... .......... .......... .......... .......... 46%  124M 0s
  7350K .......... .......... .......... .......... .......... 47% 90.5M 0s
  7400K .......... .......... .......... .......... .......... 47%  110M 0s
  7450K .......... .......... .......... .......... .......... 47%  247M 0s
  7500K .......... .......... .......... .......... .......... 47%  113M 0s
  7550K .......... .......... .......... .......... .......... 48%  135M 0s
  7600K .......... .......... .......... .......... .......... 48% 63.5M 0s
  7650K .......... .......... .......... .......... .......... 48%  136M 0s
  7700K .......... .......... .......... .......... .......... 49%  309M 0s
  7750K .......... .......... .......... .......... .......... 49% 55.1M 0s
  7800K .......... .......... .......... .......... .......... 49% 97.9M 0s
  7850K .......... .......... .......... .......... .......... 50%  135M 0s
  7900K .......... .......... .......... .......... .......... 50%  231M 0s
  7950K .......... .......... .......... .......... .......... 50% 75.5M 0s
  8000K .......... .......... .......... .......... .......... 51% 22.5M 0s
  8050K .......... .......... .......... .......... .......... 51% 63.9M 0s
  8100K .......... .......... .......... .......... .......... 51% 79.7M 0s
  8150K .......... .......... .......... .......... .......... 52%  108M 0s
  8200K .......... .......... .......... .......... .......... 52%  128M 0s
  8250K .......... .......... .......... .......... .......... 52% 56.3M 0s
  8300K .......... .......... .......... .......... .......... 53% 99.9M 0s
  8350K .......... .......... .......... .......... .......... 53%  188M 0s
  8400K .......... .......... .......... .......... .......... 53% 88.2M 0s
  8450K .......... .......... .......... .......... .......... 54% 54.1M 0s
  8500K .......... .......... .......... .......... .......... 54% 60.6M 0s
  8550K .......... .......... .......... .......... .......... 54%  158M 0s
  8600K .......... .......... .......... .......... .......... 54% 90.8M 0s
  8650K .......... .......... .......... .......... .......... 55% 91.9M 0s
  8700K .......... .......... .......... .......... .......... 55%  310M 0s
  8750K .......... .......... .......... .......... .......... 55%  117M 0s
  8800K .......... .......... .......... .......... .......... 56% 12.8M 0s
  8850K .......... .......... .......... .......... .......... 56% 81.4M 0s
  8900K .......... .......... .......... .......... .......... 56%  160M 0s
  8950K .......... .......... .......... .......... .......... 57%  135M 0s
  9000K .......... .......... .......... .......... .......... 57%  112M 0s
  9050K .......... .......... .......... .......... .......... 57%  122M 0s
  9100K .......... .......... .......... .......... .......... 58%  294M 0s
  9150K .......... .......... .......... .......... .......... 58% 91.8M 0s
  9200K .......... .......... .......... .......... .......... 58% 95.3M 0s
  9250K .......... .......... .......... .......... .......... 59%  181M 0s
  9300K .......... .......... .......... .......... .......... 59%  209M 0s
  9350K .......... .......... .......... .......... .......... 59%  164M 0s
  9400K .......... .......... .......... .......... .......... 60%  141M 0s
  9450K .......... .......... .......... .......... .......... 60%  158M 0s
  9500K .......... .......... .......... .......... .......... 60%  168M 0s
  9550K .......... .......... .......... .......... .......... 61%  192M 0s
  9600K .......... .......... .......... .......... .......... 61%  163M 0s
  9650K .......... .......... .......... .......... .......... 61% 86.1M 0s
  9700K .......... .......... .......... .......... .......... 61% 91.5M 0s
  9750K .......... .......... .......... .......... .......... 62%  132M 0s
  9800K .......... .......... .......... .......... .......... 62%  222M 0s
  9850K .......... .......... .......... .......... .......... 62%  204M 0s
  9900K .......... .......... .......... .......... .......... 63%  172M 0s
  9950K .......... .......... .......... .......... .......... 63%  337M 0s
 10000K .......... .......... .......... .......... .......... 63%  168M 0s
 10050K .......... .......... .......... .......... .......... 64% 84.6M 0s
 10100K .......... .......... .......... .......... .......... 64%  137M 0s
 10150K .......... .......... .......... .......... .......... 64% 99.5M 0s
 10200K .......... .......... .......... .......... .......... 65%  131M 0s
 10250K .......... .......... .......... .......... .......... 65%  391M 0s
 10300K .......... .......... .......... .......... .......... 65%  245M 0s
 10350K .......... .......... .......... .......... .......... 66%  127M 0s
 10400K .......... .......... .......... .......... .......... 66%  228M 0s
 10450K .......... .......... .......... .......... .......... 66%  120M 0s
 10500K .......... .......... .......... .......... .......... 67%  265M 0s
 10550K .......... .......... .......... .......... .......... 67%  180M 0s
 10600K .......... .......... .......... .......... .......... 67%  276M 0s
 10650K .......... .......... .......... .......... .......... 68%  195M 0s
 10700K .......... .......... .......... .......... .......... 68% 86.8M 0s
 10750K .......... .......... .......... .......... .......... 68%  284M 0s
 10800K .......... .......... .......... .......... .......... 68% 82.0M 0s
 10850K .......... .......... .......... .......... .......... 69%  128M 0s
 10900K .......... .......... .......... .......... .......... 69% 99.9M 0s
 10950K .......... .......... .......... .......... .......... 69%  460M 0s
 11000K .......... .......... .......... .......... .......... 70%  103M 0s
 11050K .......... .......... .......... .......... .......... 70%  105M 0s
 11100K .......... .......... .......... .......... .......... 70% 67.7M 0s
 11150K .......... .......... .......... .......... .......... 71%  142M 0s
 11200K .......... .......... .......... .......... .......... 71%  171M 0s
 11250K .......... .......... .......... .......... .......... 71% 44.9M 0s
 11300K .......... .......... .......... .......... .......... 72%  158M 0s
 11350K .......... .......... .......... .......... .......... 72% 47.8M 0s
 11400K .......... .......... .......... .......... .......... 72%  102M 0s
 11450K .......... .......... .......... .......... .......... 73%  341M 0s
 11500K .......... .......... .......... .......... .......... 73%  242M 0s
 11550K .......... .......... .......... .......... .......... 73% 75.8M 0s
 11600K .......... .......... .......... .......... .......... 74% 63.8M 0s
 11650K .......... .......... .......... .......... .......... 74%  136M 0s
 11700K .......... .......... .......... .......... .......... 74%  205M 0s
 11750K .......... .......... .......... .......... .......... 74% 67.3M 0s
 11800K .......... .......... .......... .......... .......... 75% 61.4M 0s
 11850K .......... .......... .......... .......... .......... 75% 59.8M 0s
 11900K .......... .......... .......... .......... .......... 75%  450M 0s
 11950K .......... .......... .......... .......... .......... 76%  108M 0s
 12000K .......... .......... .......... .......... .......... 76% 85.7M 0s
 12050K .......... .......... .......... .......... .......... 76%  135M 0s
 12100K .......... .......... .......... .......... .......... 77%  141M 0s
 12150K .......... .......... .......... .......... .......... 77%  324M 0s
 12200K .......... .......... .......... .......... .......... 77% 30.0M 0s
 12250K .......... .......... .......... .......... .......... 78%  128M 0s
 12300K .......... .......... .......... .......... .......... 78%  274M 0s
 12350K .......... .......... .......... .......... .......... 78% 6.23M 0s
 12400K .......... .......... .......... .......... .......... 79%  353M 0s
 12450K .......... .......... .......... .......... .......... 79%  452M 0s
 12500K .......... .......... .......... .......... .......... 79%  445M 0s

In [20]:
import json
import bz2

with bz2.open("hetionet-v1.0.json.bz2", 'r') as f:
    hetiojson = json.load(f)

list(hetiojson.keys())

nodes = hetiojson['nodes']
edges = hetiojson['edges']

node_rels = {}

for n in nodes:
    rel = n['kind'].replace(' ', '_')
    id = n['identifier']
    name = n['name']

    if rel not in node_rels:
        node_rels[rel] = []
    
    node_rels[rel].append((id, name))

node_rels.keys()

edge_rels = {}

for e in edges:
    erel = e['kind']
    source = e['source_id'][1]
    target = e['target_id'][1]
    direction = e['direction']

    if erel not in edge_rels:
        edge_rels[erel] = []

    if direction == 'both':
        edge_rels[erel].append((source, target))
        edge_rels[erel].append((target, source))
    elif direction == 'forward':
        edge_rels[erel].append((source, target))
    else:
        print(f'unknown direction {direction}, canceling!')
        break
        
for k in edge_rels.keys():
    print(k, len(edge_rels[k]))

upregulates 248670
expresses 1052814
interacts 294328
participates 1629328
downregulates 261930
causes 277888
binds 23142
regulates 265672
associates 25246
covaries 123380
localizes 7204
resembles 14058
treats 1510
includes 2058
presents 6714
palliates 780

In [21]:
%%bash
pip3 install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.9)

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [22]:
import psycopg2 as pg
from psycopg2 import sql

conn = pg.connect("host=postgres dbname=hetio user=hetio password=hetio")
cur = conn.cursor()

In [23]:
try:
    for k in node_rels.keys():
        s = sql.SQL('CREATE TABLE IF NOT EXISTS {} (nid varchar(64) primary key, name text)').format(sql.Identifier(k.lower()))
        cur.execute(s)
        for v in node_rels[k]:
            cur.execute(sql.SQL('INSERT INTO {} VALUES (%s,%s);').format(sql.Identifier(k.lower())), v)
    conn.commit()
except Exception as e:
    print(e)
    print('Failed')
    conn.rollback()

In [24]:
try:
    for k in edge_rels.keys():
        print(k)
        s = sql.SQL('CREATE TABLE IF NOT EXISTS {} (sid varchar(64), tid varchar(64))').format(sql.Identifier(k))
        print(s)
        cur.execute(s)
        for e in edge_rels[k]:
            cur.execute(sql.SQL('INSERT INTO {} VALUES (%s,%s);').format(sql.Identifier(k)), e)
        conn.commit()
except Exception as e:
    print(e)
    print('Failed')
    conn.rollback()

upregulates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('upregulates'), SQL(' (sid varchar(64), tid varchar(64))')])
expresses
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('expresses'), SQL(' (sid varchar(64), tid varchar(64))')])
interacts
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('interacts'), SQL(' (sid varchar(64), tid varchar(64))')])
participates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('participates'), SQL(' (sid varchar(64), tid varchar(64))')])
downregulates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('downregulates'), SQL(' (sid varchar(64), tid varchar(64))')])
causes
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('causes'), SQL(' (sid varchar(64), tid varchar(64))')])
binds
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('binds'), SQL(' (sid varchar(64), tid varchar(64))')])
regulates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('regulates'), SQL(' (sid varchar(64), tid varchar(64))')])
associates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('associates'), SQL(' (sid varchar(64), tid varchar(64))')])
covaries
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('covaries'), SQL(' (sid varchar(64), tid varchar(64))')])
localizes
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('localizes'), SQL(' (sid varchar(64), tid varchar(64))')])
resembles
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('resembles'), SQL(' (sid varchar(64), tid varchar(64))')])
treats
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('treats'), SQL(' (sid varchar(64), tid varchar(64))')])
includes
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('includes'), SQL(' (sid varchar(64), tid varchar(64))')])
presents
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('presents'), SQL(' (sid varchar(64), tid varchar(64))')])
palliates
Composed([SQL('CREATE TABLE IF NOT EXISTS '), Identifier('palliates'), SQL(' (sid varchar(64), tid varchar(64))')])

# DuckDB

In [3]:
%%bash
pip install duckdb

Collecting duckdb
  Downloading duckdb-0.10.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 93.4 MB/s eta 0:00:00
Installing collected packages: duckdb
Successfully installed duckdb-0.10.2

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

## STATS

In [103]:
import duckdb
import os

con = duckdb.connect(database="stats/stats.duckdb")
con.execute("INSTALL postgres")
con.execute("LOAD postgres")
con.execute("ATTACH 'host=172.20.0.2 port=5432 user=postgres password=postgres dbname=stats' AS stats_DDB (TYPE postgres)")
con.execute("USE stats_DDB")
con.close()

In [78]:
import duckdb

conn = duckdb.connect(database='stats/stats.duckdb')

cursor = conn.cursor()

# Example query
cursor.execute("USE stats_DDB")
cursor.execute("""SELECT *
FROM badges LIMIT 5

""")

# Fetch results
results = cursor.fetchall()
print(results)

[(1, 5, datetime.datetime(2010, 7, 19, 19, 39, 7)), (2, 6, datetime.datetime(2010, 7, 19, 19, 39, 7)), (3, 8, datetime.datetime(2010, 7, 19, 19, 39, 7)), (4, 23, datetime.datetime(2010, 7, 19, 19, 39, 7)), (5, 36, datetime.datetime(2010, 7, 19, 19, 39, 7))]

## SNAP

In [83]:
import duckdb
import os

con = duckdb.connect(database="snap/snap.duckdb")
con.execute("INSTALL postgres")
con.execute("LOAD postgres")
con.execute("ATTACH 'host=172.20.0.2 port=5432 user=postgres password=postgres dbname=snap' AS snap_DDB (TYPE postgres)")
con.execute("USE snap_DDB")
con.close()

In [84]:
import duckdb

conn = duckdb.connect(database='snap/snap.duckdb')

cursor = conn.cursor()

# Example query
cursor.execute("USE snap_DDB")
cursor.execute("""SELECT *
FROM dblp LIMIT 5

""")

# Fetch results
results = cursor.fetchall()
print(results)

conn.close()

[(0, 1), (0, 2), (0, 4519), (0, 23073), (0, 33043)]

## JOB

In [90]:
import duckdb
import os

con = duckdb.connect(database="job/job.duckdb")
con.execute("INSTALL postgres")
con.execute("LOAD postgres")
con.execute("ATTACH 'host=172.20.0.2 port=5432 user=postgres password=postgres dbname=imdb' AS job_DDB (TYPE postgres)")
con.execute("USE job_DDB")
con.close()

In [92]:
import duckdb

conn = duckdb.connect(database='job/job.duckdb')

cursor = conn.cursor()

# Example query
cursor.execute("USE job_DDB")
cursor.execute("""SELECT *
FROM keyword LIMIT 5

""")

# Fetch results
results = cursor.fetchall()
print(results)

[(1, 'number-in-title', 'N5165'), (2, 'web-series', 'W1262'), (3, 'friend', 'F653'), (4, 'heroin', 'H65'), (5, 'vlog', 'V42')]

## LSQB

In [97]:
import duckdb
import os

con = duckdb.connect(database="lsqb/lsqb.duckdb")
con.execute("INSTALL postgres")
con.execute("LOAD postgres")
con.execute("ATTACH 'host=172.20.0.2 port=5432 user=postgres password=postgres dbname=lsqb' AS lsqb_DDB (TYPE postgres)")
con.execute("USE lsqb_DDB")
con.close()

In [98]:
import duckdb

conn = duckdb.connect(database='lsqb/lsqb.duckdb')

cursor = conn.cursor()

# Example query
cursor.execute("USE lsqb_DDB")
cursor.execute("""SELECT *
FROM Comment LIMIT 5

""")

# Fetch results
results = cursor.fetchall()
print(results)

[(1649267441665, 19791209306158, 55, 1236950581248, None), (1924145348610, 10349, 51, 1236950581248, None), (1649267441668, 19791209306158, 55, 3, None), (1649267441669, 19791209306158, 55, 3, None), (1786706395489, 21990232566466, 58, 962072674656, None)]

## HETIO

In [101]:
import duckdb
import os

con = duckdb.connect(database="hetio/hetio.duckdb")
con.execute("INSTALL postgres")
con.execute("LOAD postgres")
con.execute("ATTACH 'host=172.20.0.2 port=5432 user=postgres password=postgres dbname=hetio' AS hetio_DDB (TYPE postgres)")
con.execute("USE hetio_DDB")
con.close()

In [102]:
import duckdb

conn = duckdb.connect(database='hetio/hetio.duckdb')

cursor = conn.cursor()

# Example query
cursor.execute("USE hetio_DDB")
cursor.execute("""SELECT *
FROM gene LIMIT 5

""")

# Fetch results
results = cursor.fetchall()
print(results)

[('5345', 'SERPINF2'), ('9409', 'PEX16'), ('10848', 'PPP1R13L'), ('121129', 'OR2AP1'), ('432', 'ASGR1')]