# Loading the benchmark data and queries

* LSQB
* SNAP
* JOB
* STATS

## Create the DB users

In [1]:
%%bash

export PGPASSWORD=postgres

create_db() {
cat <<EOF
        create user $1 with password '$1';
        create database $1;
        grant all privileges on database $1 to $1;
        \c $1 postgres
        grant all on schema public to $1;
EOF
}

dbnames=(lsqb snap tpcds tpch)

psql --host=postgres --username postgres --dbname postgres <<-EOSQL
        $(create_db lsqb)
        $(create_db snap)
        $(create_db tpcds)
        $(create_db tpch)
        $(create_db imdb)
        $(create_db stats)
EOSQL

ERROR:  role "lsqb" already exists
ERROR:  database "lsqb" already exists

GRANT
You are now connected to database "lsqb" as user "postgres".
GRANT

ERROR:  role "snap" already exists
ERROR:  database "snap" already exists

GRANT
You are now connected to database "snap" as user "postgres".
GRANT

ERROR:  role "tpcds" already exists
ERROR:  database "tpcds" already exists

GRANT
You are now connected to database "tpcds" as user "postgres".
GRANT

ERROR:  role "tpch" already exists
ERROR:  database "tpch" already exists

GRANT
You are now connected to database "tpch" as user "postgres".
GRANT

ERROR:  role "imdb" already exists
ERROR:  database "imdb" already exists

GRANT
You are now connected to database "imdb" as user "postgres".
GRANT

ERROR:  role "stats" already exists
ERROR:  database "stats" already exists

GRANT
You are now connected to database "stats" as user "postgres".
GRANT

# LSQB

## Fetch LSQB data

You either can download one LSQB dataset, deciding which scale factor you want or a lot of different ones. Both methods are provided here.  

Only load one dataset with scale factor SF (here = 1)

In [2]:
!chmod +x lsqb/scripts/download-merged-fk-single-data-set.sh

In [3]:
%%bash
cd lsqb
export SF=1
./scripts/download-merged-fk-single-data-set.sh
cd ..

Downloading scale factor 1

Downloading the LSQB data for different scale factors: 0.1, 0.3, 1, 3, 10, 30, 100, 300, 1000

In [4]:
#!chmod +x lsqb/scripts/download-merged-fk-data-sets.sh

In [5]:
#%%bash
#cd lsqb
#export MAX_SF=300
#./scripts/download-merged-fk-data-sets.sh
#cd ..

## Import the LSQB benchmark data

Import the benchmark data for scale factor 1

In [6]:
!chmod +x import-lsqb.sh

In [7]:
%%bash
export SF=1
./import-lsqb.sh

DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1575
COPY 6380
COPY 6
COPY 111
COPY 1343
COPY 109617
COPY 2580332
COPY 1229275
COPY 11000
COPY 16080
COPY 71
COPY 3148317
COPY 815205
COPY 3268415
COPY 354213
COPY 255596
COPY 1668015
COPY 853145
COPY 8880
COPY 23600
COPY 226293
COPY 226293
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW

# SNAP

## Fetch the SNAP data

In [14]:
!chmod +x snap/remove-header.sh

In [15]:
%%bash

datasets=("http://snap.stanford.edu/data/cit-Patents.txt.gz"
          "http://snap.stanford.edu/data/wiki-topcats.txt.gz"
          "http://snap.stanford.edu/data/web-Google.txt.gz"
          "http://snap.stanford.edu/data/bigdata/communities/com-dblp.ungraph.txt.gz")

cd snap

for d in ${datasets[*]}; do
    if [ ! -f $(basename $d) ]; then
        curl -O $d;
        gunzip $(basename $d)
    else
        echo "$(basename $d) exists"
    fi
done

./remove-header.sh

cd ..

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 81.1M  100 81.1M    0     0   442k      0  0:03:07  0:03:07 --:--:--  505k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 95.1M  100 95.1M    0     0   534k      0  0:03:02  0:03:02 --:--:--  473k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20.1M  100 20.1M    0     0   497k      0  0:00:41  0:00:41 --:--:--  966k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4041k  100 4041k    0     0   267k      0  0:00:15  0:00:15 --:--:--  304k

## Import the SNAP data

In [16]:
%%writefile import-snap.sql

DROP TABLE IF EXISTS patents;
CREATE TABLE patents (fromNode integer, toNode integer);
\copy patents FROM 'snap/noheader/cit-Patents.txt' with (header false);

DROP TABLE IF EXISTS wiki;
CREATE TABLE wiki (fromNode integer, toNode integer);
\copy wiki FROM 'snap/noheader/wiki-topcats.txt' with (header false, delimiter ' ');

DROP TABLE IF EXISTS google;
CREATE TABLE google (fromNode integer, toNode integer);
\copy google FROM 'snap/noheader/web-Google.txt' with (header false);

DROP TABLE IF EXISTS dblp;
CREATE TABLE dblp (fromNode integer, toNode integer);
\copy dblp FROM 'snap/noheader/com-dblp.ungraph.txt' with (header false);

Overwriting import-snap.sql

In [17]:
%%bash

PGPASSWORD=snap psql -h postgres -U snap -d snap -f import-snap.sql

psql:import-snap.sql:2: NOTICE:  table "patents" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 16518948

psql:import-snap.sql:6: NOTICE:  table "wiki" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 28511807

psql:import-snap.sql:10: NOTICE:  table "google" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 5105039

psql:import-snap.sql:14: NOTICE:  table "dblp" does not exist, skipping

DROP TABLE
CREATE TABLE
COPY 1049866

## Generate SNAP queries

In [33]:
import glob
from pathlib import Path

snap_tables = ['patents', 'wiki', 'google', 'dblp']

Path(f'snap-queries/all').mkdir(parents=True, exist_ok=True)
for tablename in snap_tables:
    Path(f'snap-queries/{tablename}').mkdir(parents=True, exist_ok=True)
    # We use the patent queries as the base and replace the references to the patent relation
    base_query_files = glob.glob('snap-queries/patents/*.sql')
    for file in base_query_files:
        query = Path(file).read_text()
        basename = Path(file).name
        new_query = query.replace('patents', tablename)
        with open(f'snap-queries/{tablename}/{basename}', 'w') as new_file:
            new_file.write(new_query)
        with open(f'snap-queries/all/{tablename}-{basename}', 'w') as new_file:
            new_file.write(new_query)

# JOB

## Import the JOB/IMDB data

In [4]:
%%bash
cd job
tar -xzf export.sql.tar.gz

In [3]:
%%bash
tail -n 50 job/export.sql

CREATE INDEX title_idx_kindid ON public.title USING btree (kind_id);


--
-- Name: title_idx_md5; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_md5 ON public.title USING btree (md5sum);


--
-- Name: title_idx_pcode; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_pcode ON public.title USING btree (phonetic_code);


--
-- Name: title_idx_season_nr; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_season_nr ON public.title USING btree (season_nr);


--
-- Name: title_idx_title; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_title ON public.title USING btree (title);


--
-- Name: title_idx_year; Type: INDEX; Schema: public; Owner: imdb
--

CREATE INDEX title_idx_year ON public.title USING btree (production_year);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO imdb;


--
-- PostgreSQL database dump complete
--

In [2]:
%%bash

cd job
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb -f export.sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET

psql:export.sql:36: ERROR:  relation "aka_name" already exists
psql:export.sql:51: ERROR:  relation "aka_name_id_seq" already exists

ALTER TABLE
ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:80: ERROR:  relation "aka_title" already exists

ALTER TABLE

psql:export.sql:95: ERROR:  relation "aka_title_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:119: ERROR:  relation "cast_info" already exists

ALTER TABLE

psql:export.sql:134: ERROR:  relation "cast_info_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:158: ERROR:  relation "char_name" already exists

ALTER TABLE

psql:export.sql:173: ERROR:  relation "char_name_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:192: ERROR:  relation "comp_cast_type" already exists

ALTER TABLE

psql:export.sql:207: ERROR:  relation "comp_cast_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:231: ERROR:  relation "company_name" already exists

ALTER TABLE

psql:export.sql:246: ERROR:  relation "company_name_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:265: ERROR:  relation "company_type" already exists

ALTER TABLE

psql:export.sql:280: ERROR:  relation "company_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:301: ERROR:  relation "complete_cast" already exists

ALTER TABLE

psql:export.sql:316: ERROR:  relation "complete_cast_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:335: ERROR:  relation "info_type" already exists

ALTER TABLE

psql:export.sql:350: ERROR:  relation "info_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:370: ERROR:  relation "keyword" already exists

ALTER TABLE

psql:export.sql:385: ERROR:  relation "keyword_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:404: ERROR:  relation "kind_type" already exists

ALTER TABLE

psql:export.sql:419: ERROR:  relation "kind_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:438: ERROR:  relation "link_type" already exists

ALTER TABLE

psql:export.sql:453: ERROR:  relation "link_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:475: ERROR:  relation "movie_companies" already exists

ALTER TABLE

psql:export.sql:490: ERROR:  relation "movie_companies_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:512: ERROR:  relation "movie_info" already exists

ALTER TABLE

psql:export.sql:527: ERROR:  relation "movie_info_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:547: ERROR:  relation "movie_keyword" already exists

ALTER TABLE

psql:export.sql:562: ERROR:  relation "movie_keyword_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:583: ERROR:  relation "movie_link" already exists

ALTER TABLE

psql:export.sql:598: ERROR:  relation "movie_link_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:624: ERROR:  relation "name" already exists

ALTER TABLE

psql:export.sql:639: ERROR:  relation "name_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:661: ERROR:  relation "person_info" already exists

ALTER TABLE

psql:export.sql:676: ERROR:  relation "person_info_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:695: ERROR:  relation "role_type" already exists

ALTER TABLE

psql:export.sql:710: ERROR:  relation "role_type_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE

psql:export.sql:739: ERROR:  relation "title" already exists

ALTER TABLE

psql:export.sql:754: ERROR:  relation "title_id_seq" already exists

ALTER SEQUENCE
ALTER SEQUENCE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
COPY 1312273
COPY 528297

psql:export.sql:65317332: ERROR:  duplicate key value violates unique constraint "cast_info_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY cast_info, line 1
psql:export.sql:69632204: ERROR:  duplicate key value violates unique constraint "char_name_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY char_name, line 1
psql:export.sql:69632216: ERROR:  duplicate key value violates unique constraint "comp_cast_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY comp_cast_type, line 1
psql:export.sql:69994355: ERROR:  duplicate key value violates unique constraint "company_name_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY company_name, line 1
psql:export.sql:69994367: ERROR:  duplicate key value violates unique constraint "company_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY company_type, line 1
psql:export.sql:70129461: ERROR:  duplicate key value violates unique constraint "complete_cast_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY complete_cast, line 1
psql:export.sql:70129582: ERROR:  duplicate key value violates unique constraint "info_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY info_type, line 1
psql:export.sql:70366217: ERROR:  duplicate key value violates unique constraint "keyword_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY keyword, line 1
psql:export.sql:70366234: ERROR:  duplicate key value violates unique constraint "kind_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY kind_type, line 1
psql:export.sql:70366260: ERROR:  duplicate key value violates unique constraint "link_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY link_type, line 1
psql:export.sql:75324564: ERROR:  duplicate key value violates unique constraint "movie_companies_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_companies, line 1
psql:export.sql:105099258: ERROR:  duplicate key value violates unique constraint "movie_info_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_info, line 1
psql:export.sql:112579353: ERROR:  duplicate key value violates unique constraint "movie_keyword_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_keyword, line 1
psql:export.sql:115164511: ERROR:  duplicate key value violates unique constraint "movie_link_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY movie_link, line 1
psql:export.sql:121544259: ERROR:  duplicate key value violates unique constraint "name_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY name, line 1
psql:export.sql:125674474: ERROR:  duplicate key value violates unique constraint "person_info_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY person_info, line 1
psql:export.sql:125674494: ERROR:  duplicate key value violates unique constraint "role_type_pkey"
DETAIL:  Key (id)=(1) already exists.
CONTEXT:  COPY role_type, line 1
psql:export.sql:128974502: ERROR:  duplicate key value violates unique constraint "title_pkey"
DETAIL:  Key (id)=(100001) already exists.
CONTEXT:  COPY title, line 1

 setval
---------
 1312273
(1 row)

 setval
--------
      1
(1 row)

  setval
----------
 63475835
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      4
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      4
(1 row)

 setval
--------
 135086
(1 row)

 setval
--------
    113
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      9
(1 row)

 setval
--------
     18
(1 row)

 setval
---------
 4958296
(1 row)

  setval
----------
 29774686
(1 row)

 setval
---------
 7480087
(1 row)

 setval
---------
 2585150
(1 row)

 setval
--------
      1
(1 row)

 setval
---------
 4130207
(1 row)

 setval
--------
     12
(1 row)

 setval
--------
      1
(1 row)

psql:export.sql:128974650: ERROR:  could not create unique index "aka_name_pkey"
DETAIL:  Key (id)=(20403) is duplicated.
psql:export.sql:128974658: ERROR:  could not create unique index "aka_title_pkey"
DETAIL:  Key (id)=(458464) is duplicated.
CONTEXT:  parallel worker
psql:export.sql:128974666: ERROR:  multiple primary keys for table "cast_info" are not allowed
psql:export.sql:128974674: ERROR:  multiple primary keys for table "char_name" are not allowed
psql:export.sql:128974682: ERROR:  multiple primary keys for table "comp_cast_type" are not allowed
psql:export.sql:128974690: ERROR:  multiple primary keys for table "company_name" are not allowed
psql:export.sql:128974698: ERROR:  multiple primary keys for table "company_type" are not allowed
psql:export.sql:128974706: ERROR:  multiple primary keys for table "complete_cast" are not allowed
psql:export.sql:128974714: ERROR:  multiple primary keys for table "info_type" are not allowed
psql:export.sql:128974722: ERROR:  multiple primary keys for table "keyword" are not allowed
psql:export.sql:128974730: ERROR:  multiple primary keys for table "kind_type" are not allowed
psql:export.sql:128974738: ERROR:  multiple primary keys for table "link_type" are not allowed
psql:export.sql:128974746: ERROR:  multiple primary keys for table "movie_companies" are not allowed
psql:export.sql:128974754: ERROR:  multiple primary keys for table "movie_info" are not allowed
psql:export.sql:128974762: ERROR:  multiple primary keys for table "movie_keyword" are not allowed
psql:export.sql:128974770: ERROR:  multiple primary keys for table "movie_link" are not allowed
psql:export.sql:128974778: ERROR:  multiple primary keys for table "name" are not allowed
psql:export.sql:128974786: ERROR:  multiple primary keys for table "person_info" are not allowed
psql:export.sql:128974794: ERROR:  multiple primary keys for table "role_type" are not allowed
psql:export.sql:128974802: ERROR:  multiple primary keys for table "title" are not allowed
psql:export.sql:128974809: ERROR:  relation "aka_name_idx_md5" already exists
psql:export.sql:128974816: ERROR:  relation "aka_name_idx_name" already exists
psql:export.sql:128974823: ERROR:  relation "aka_name_idx_pcode" already exists
psql:export.sql:128974830: ERROR:  relation "aka_name_idx_pcodecf" already exists
psql:export.sql:128974837: ERROR:  relation "aka_name_idx_pcodenf" already exists
psql:export.sql:128974844: ERROR:  relation "aka_name_idx_person" already exists
psql:export.sql:128974851: ERROR:  relation "aka_title_idx_epof" already exists
psql:export.sql:128974858: ERROR:  relation "aka_title_idx_kindid" already exists
psql:export.sql:128974865: ERROR:  relation "aka_title_idx_md5" already exists
psql:export.sql:128974872: ERROR:  relation "aka_title_idx_movieid" already exists
psql:export.sql:128974879: ERROR:  relation "aka_title_idx_pcode" already exists
psql:export.sql:128974886: ERROR:  relation "aka_title_idx_title" already exists
psql:export.sql:128974893: ERROR:  relation "aka_title_idx_year" already exists
psql:export.sql:128974900: ERROR:  relation "cast_info_idx_cid" already exists
psql:export.sql:128974907: ERROR:  relation "cast_info_idx_mid" already exists
psql:export.sql:128974914: ERROR:  relation "cast_info_idx_pid" already exists
psql:export.sql:128974921: ERROR:  relation "cast_info_idx_rid" already exists
psql:export.sql:128974928: ERROR:  relation "char_name_idx_imdb_id" already exists
psql:export.sql:128974935: ERROR:  relation "char_name_idx_md5" already exists
psql:export.sql:128974942: ERROR:  relation "char_name_idx_name" already exists
psql:export.sql:128974949: ERROR:  relation "char_name_idx_pcode" already exists
psql:export.sql:128974956: ERROR:  relation "char_name_idx_pcodenf" already exists
psql:export.sql:128974963: ERROR:  relation "comp_cast_type_kind" already exists
psql:export.sql:128974970: ERROR:  relation "company_name_idx_ccode" already exists
psql:export.sql:128974977: ERROR:  relation "company_name_idx_imdb_id" already exists
psql:export.sql:128974984: ERROR:  relation "company_name_idx_md5" already exists
psql:export.sql:128974991: ERROR:  relation "company_name_idx_name" already exists
psql:export.sql:128974998: ERROR:  relation "company_name_idx_pcodenf" already exists
psql:export.sql:128975005: ERROR:  relation "company_name_idx_pcodesf" already exists
psql:export.sql:128975012: ERROR:  relation "company_type_kind" already exists
psql:export.sql:128975019: ERROR:  relation "complete_cast_idx_mid" already exists
psql:export.sql:128975026: ERROR:  relation "complete_cast_idx_sid" already exists
psql:export.sql:128975033: ERROR:  relation "info_type_info" already exists
psql:export.sql:128975040: ERROR:  relation "keyword_idx_keyword" already exists
psql:export.sql:128975047: ERROR:  relation "keyword_idx_pcode" already exists
psql:export.sql:128975054: ERROR:  relation "kind_type_kind" already exists
psql:export.sql:128975061: ERROR:  relation "link_type_link" already exists
psql:export.sql:128975068: ERROR:  relation "movie_companies_idx_cid" already exists
psql:export.sql:128975075: ERROR:  relation "movie_companies_idx_ctypeid" already exists
psql:export.sql:128975082: ERROR:  relation "movie_companies_idx_mid" already exists
psql:export.sql:128975089: ERROR:  relation "movie_info_idx_infotypeid" already exists
psql:export.sql:128975096: ERROR:  relation "movie_info_idx_mid" already exists
psql:export.sql:128975103: ERROR:  relation "movie_keyword_idx_keywordid" already exists
psql:export.sql:128975110: ERROR:  relation "movie_keyword_idx_mid" already exists
psql:export.sql:128975117: ERROR:  relation "movie_link_idx_lmid" already exists
psql:export.sql:128975124: ERROR:  relation "movie_link_idx_ltypeid" already exists
psql:export.sql:128975131: ERROR:  relation "movie_link_idx_mid" already exists
psql:export.sql:128975138: ERROR:  relation "name_idx_gender" already exists
psql:export.sql:128975145: ERROR:  relation "name_idx_imdb_id" already exists
psql:export.sql:128975152: ERROR:  relation "name_idx_md5" already exists
psql:export.sql:128975159: ERROR:  relation "name_idx_name" already exists
psql:export.sql:128975166: ERROR:  relation "name_idx_pcode" already exists
psql:export.sql:128975173: ERROR:  relation "name_idx_pcodecf" already exists
psql:export.sql:128975180: ERROR:  relation "name_idx_pcodenf" already exists
psql:export.sql:128975187: ERROR:  relation "person_info_idx_itypeid" already exists
psql:export.sql:128975194: ERROR:  relation "person_info_idx_pid" already exists
psql:export.sql:128975201: ERROR:  relation "role_type_role" already exists
psql:export.sql:128975208: ERROR:  relation "title_idx_episode_nr" already exists
psql:export.sql:128975215: ERROR:  relation "title_idx_epof" already exists
psql:export.sql:128975222: ERROR:  relation "title_idx_imdb_id" already exists
psql:export.sql:128975229: ERROR:  relation "title_idx_kindid" already exists
psql:export.sql:128975236: ERROR:  relation "title_idx_md5" already exists
psql:export.sql:128975243: ERROR:  relation "title_idx_pcode" already exists
psql:export.sql:128975250: ERROR:  relation "title_idx_season_nr" already exists
psql:export.sql:128975257: ERROR:  relation "title_idx_title" already exists
psql:export.sql:128975264: ERROR:  relation "title_idx_year" already exists
psql:export.sql:128975271: WARNING:  no privileges were granted for "public"

GRANT

In [10]:
%%bash
PGPASSWORD=imdb psql -h postgres -U imdb -d imdb
\dt

            List of relations
 Schema |      Name       | Type  | Owner
--------+-----------------+-------+-------
 public | aka_name        | table | imdb
 public | aka_title       | table | imdb
 public | cast_info       | table | imdb
 public | char_name       | table | imdb
 public | comp_cast_type  | table | imdb
 public | company_name    | table | imdb
 public | company_type    | table | imdb
 public | complete_cast   | table | imdb
 public | info_type       | table | imdb
 public | keyword         | table | imdb
 public | kind_type       | table | imdb
 public | link_type       | table | imdb
 public | movie_companies | table | imdb
 public | movie_info      | table | imdb
 public | movie_keyword   | table | imdb
 public | movie_link      | table | imdb
 public | name            | table | imdb
 public | person_info     | table | imdb
 public | role_type       | table | imdb
 public | title           | table | imdb
(20 rows)

# STATS

## Import the STATS dataset

In [21]:
%%bash

cd stats
PGPASSWORD=stats psql -h postgres -U stats -d stats -f datasets/stats.sql
PGPASSWORD=stats psql -h postgres -U stats -d stats -f scripts/stats_load.sql

psql:datasets/stats.sql:9: ERROR:  relation "users" already exists
psql:datasets/stats.sql:23: ERROR:  relation "posts" already exists
psql:datasets/stats.sql:32: ERROR:  relation "postlinks" already exists
psql:datasets/stats.sql:41: ERROR:  relation "posthistory" already exists
psql:datasets/stats.sql:50: ERROR:  relation "comments" already exists
psql:datasets/stats.sql:60: ERROR:  relation "votes" already exists
psql:datasets/stats.sql:67: ERROR:  relation "badges" already exists
psql:datasets/stats.sql:74: ERROR:  relation "tags" already exists

COPY 79851
COPY 174305
COPY 40325
COPY 1032
COPY 91976
COPY 328064
COPY 303187
COPY 11102

## Generate the STATS queries

Some small errors in the names of the foreign keys are fixed (from https://arxiv.org/pdf/2109.05877.pdf)

In [32]:
import re

query_file = Path('stats/workload/stats_CEB.sql').read_text()
queries = []
for i, row in enumerate(query_file.split('\n')):
    count = int(row.split('||')[0])
    query = row.split('||')[1]

    p = re.compile("('\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}')::timestamp")
    query_replaced = p.sub(lambda match: f'CAST({match.group(1)} AS TIMESTAMP)', query)
    queries.append((i, count, query_replaced))

queries.sort(key=lambda t: t[1])

hints = [('FK(t.ExcerptPostId, p.Id)', ['t', 'p']),
        ('FK(pl.PostId, p.Id)', ['pl', 'p']),
        ('FK(pl.RelatedPostId, p.Id)', ['pl', 'p']),
        ('FK(c.PostId, p.Id)', ['c', 'p']),
        ('FK(ph.PostId, p.Id)', ['ph', 'p']),
        ('FK(v.PostId, p.Id)', ['v', 'p']),
        ('FK(p.OwnerUserId, u.Id)', ['p', 'u']),
        ('FK(c.UserId, u.Id)', ['c', 'u']),
        ('FK(ph.UserId, u.Id)', ['ph', 'u']),
        ('FK(b.UserId, u.Id)', ['b', 'u']),
        ('FK(v.UserId, u.Id)', ['v', 'u'])]

for i, (idx, count, query_replaced) in enumerate(queries):
    with open(f'stats-queries/{i+1:03}-{idx+1:03}.sql', 'w') as f:
        f.write(query_replaced)
    with open(f'stats-queries/hints/{i+1:03}-{idx+1:03}-hint.sql', 'w') as f:
        applicable_hints = list(map(lambda h: h[0],
                               list(filter(lambda h: re.search('as {rname}( |,)'.format(rname=h[1][0]), query_replaced) is not None
                                           and re.search('as {rname}( |,)'.format(rname=h[1][1]), query_replaced) is not None, hints))))
        if (len(applicable_hints) > 0):
            query_hints = query_replaced.replace('SELECT', f'SELECT /*+ {",".join(applicable_hints)} */ ')
            f.write(query_hints)
        else:
            f.write(query_replaced)