# Run the benchmark queries
for the DBMS:
* DuckDB
* Postgres

for the benchmark datasets:
* LSQB
* SNAP
* JOB
* STATS

the queries are executed as:
* original query
* rewritten with Yannakakis

# Use Apache Calcite

In [1]:
import subprocess

### Run a jar file

In [2]:
!java -version

java version "21.0.2" 2024-01-16 LTS
Java(TM) SE Runtime Environment (build 21.0.2+13-LTS-58)
Java HotSpot(TM) 64-Bit Server VM (build 21.0.2+13-LTS-58, mixed mode, sharing)

In [3]:
!java -jar JavaTestWithVar.jar 5 4

9

In [4]:
result = subprocess.check_output(['java', '-jar', 'JavaTestWithVar.jar', '5', '4'], text=True)
result = int(result)
print(result)

9

In [5]:
result = subprocess.check_output(['java', '-jar', 'QueryPlan.jar', 'select * from trades.trade'], text=True)
result = int(result)
print(result)

Error: Could not find or load main class org.calcite.QueryPlan
Caused by: java.lang.ClassNotFoundException: org.calcite.QueryPlan

CalledProcessError: Command '['java', '-jar', 'QueryPlan.jar', 'select * from trades.trade']' returned non-zero exit status 1.

### Run the java file

#### Testing with artifical trade dataset

In [6]:
command = "cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan 'select * from trades.trade natural join trades.trade2 where \"tradeid\" > 232312123'"
result = subprocess.check_output(command, shell=True, text=True)
print(result)

16:34:40.998 [main] DEBUG org.apache.calcite.sql.parser - Reduced `tradeid` > 232312123
16:34:41.301 [main] DEBUG org.apache.calcite.sql2rel - Plan after converting SqlNode to RelNode
LogicalProject(qty=[COALESCE($2, $5)], tradeid=[$0], productid=[$1], tradeid2=[$3], productid2=[$4])
  LogicalFilter(condition=[>($0, 232312123)])
    LogicalJoin(condition=[=($2, $5)], joinType=[inner])
      LogicalTableScan(table=[[TRADES, TRADE]])
      LogicalTableScan(table=[[TRADES, TRADE2]])

LogicalProject(qty=[COALESCE($2, $5)], tradeid=[$0], productid=[$1], tradeid2=[$3], productid2=[$4])
  LogicalFilter(condition=[>($0, 232312123)])
    LogicalJoin(condition=[=($2, $5)], joinType=[inner])
      LogicalTableScan(table=[[TRADES, TRADE]])
      LogicalTableScan(table=[[TRADES, TRADE2]])

In [7]:
print(result.strip().split('\n\n')[-1])

LogicalProject(qty=[COALESCE($2, $5)], tradeid=[$0], productid=[$1], tradeid2=[$3], productid2=[$4])
  LogicalFilter(condition=[>($0, 232312123)])
    LogicalJoin(condition=[=($2, $5)], joinType=[inner])
      LogicalTableScan(table=[[TRADES, TRADE]])
      LogicalTableScan(table=[[TRADES, TRADE2]])

#### STATS

In [8]:
command = "cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan 'select * from stats.\"comments\"'"
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalProject(Id=[$0], PostId=[$1], Score=[$2], CreationDate=[$3], UserId=[$4])
  LogicalTableScan(table=[[STATS, comments]])

In [9]:
query = 'select * from stats.\\"comments\\"'
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalProject(Id=[$0], PostId=[$1], Score=[$2], CreationDate=[$3], UserId=[$4])
  LogicalTableScan(table=[[STATS, comments]])

In [10]:
file_path = '../stats-queries/001-014.sql'
with open(file_path, 'r') as file:
    query = file.read()
print(query)

SELECT COUNT(*) FROM comments as c, votes as v, users as u WHERE u.Id = c.UserId AND u.Id = v.UserId AND c.CreationDate>=CAST('2010-10-01 20:45:26' AS TIMESTAMP) AND c.CreationDate<=CAST('2014-09-05 12:51:17' AS TIMESTAMP) AND v.BountyAmount<=100 AND u.UpVotes=0 AND u.CreationDate<=CAST('2014-09-12 03:25:34' AS TIMESTAMP);

In [11]:
query = '''SELECT COUNT(*) FROM stats.\\"comments\\" as c, stats.\\"votes\\" as v, stats.\\"users\\" as u 
            WHERE u.\\"Id\\" = c.\\"UserId\\" AND u.\\"Id\\" = v.\\"UserId\\" 
                AND c.\\"CreationDate\\">=CAST('2010-10-01 20:45:26' AS TIMESTAMP)
                AND c.\\"CreationDate\\"<=CAST('2014-09-05 12:51:17' AS TIMESTAMP) 
                AND v.\\"BountyAmount\\"<=100 AND u.\\"UpVotes\\"=0 
                AND u.\\"CreationDate\\"<=CAST('2014-09-12 03:25:34' AS TIMESTAMP)'''
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalAggregate(group=[{}], EXPR$0=[COUNT()])
  LogicalFilter(condition=[AND(=($11, $4), =($11, $9), >=(CAST($3):TIMESTAMP(0) NOT NULL, CAST('2010-10-01 20:45:26'):TIMESTAMP(0) NOT NULL), <=(CAST($3):TIMESTAMP(0) NOT NULL, CAST('2014-09-05 12:51:17'):TIMESTAMP(0) NOT NULL), <=(CAST($10):INTEGER NOT NULL, 100), =(CAST($15):INTEGER NOT NULL, 0), <=(CAST($13):TIMESTAMP(0) NOT NULL, CAST('2014-09-12 03:25:34'):TIMESTAMP(0) NOT NULL))])
    LogicalJoin(condition=[true], joinType=[inner])
      LogicalJoin(condition=[true], joinType=[inner])
        LogicalTableScan(table=[[STATS, comments]])
        LogicalTableScan(table=[[STATS, votes]])
      LogicalTableScan(table=[[STATS, users]])

In [12]:
query = '''SELECT COUNT(*) FROM stats.\\"comments\\" as c JOIN stats.\\"users\\" as u ON u.\\"Id\\" = c.\\"UserId\\" '''
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalAggregate(group=[{}], EXPR$0=[COUNT()])
  LogicalJoin(condition=[=($5, $4)], joinType=[inner])
    LogicalTableScan(table=[[STATS, comments]])
    LogicalTableScan(table=[[STATS, users]])

In [23]:
query2 = '''SELECT count(*)
FROM stats.\\"users\\"
JOIN stats.\\"votes\\"
  ON \\"users\\".\\"Id\\" = \\"votes\\".\\"UserId\\"
JOIN stats.\\"comments\\"
  ON \\"users\\".\\"Id\\" = \\"comments\\".\\"UserId\\"'''
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query2}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalAggregate(group=[{}], EXPR$0=[COUNT()])
  LogicalJoin(condition=[=($0, $16)], joinType=[inner])
    LogicalJoin(condition=[=($0, $10)], joinType=[inner])
      LogicalTableScan(table=[[STATS, users]])
      LogicalTableScan(table=[[STATS, votes]])
    LogicalTableScan(table=[[STATS, comments]])

In [25]:
query2 = '''SELECT count(*)
FROM stats.\\"users\\" as u
JOIN stats.\\"votes\\" as v
  ON u.\\"Id\\" = v.\\"UserId\\"
JOIN stats.\\"comments\\" as c
  ON u.\\"Id\\" = c.\\"UserId\\"'''
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query2}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalAggregate(group=[{}], EXPR$0=[COUNT()])
  LogicalJoin(condition=[=($0, $16)], joinType=[inner])
    LogicalJoin(condition=[=($0, $10)], joinType=[inner])
      LogicalTableScan(table=[[STATS, users]])
      LogicalTableScan(table=[[STATS, votes]])
    LogicalTableScan(table=[[STATS, comments]])

In [26]:
query3 = '''select count(*) from stats.\\"comments\\" c1, stats.\\"comments\\" c2, stats.\\"comments\\" c3 
where c1.\\"Id\\" = c2.\\"PostId\\" AND c2.\\"Id\\" = c3.\\"UserId\\"'''
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query3}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

LogicalAggregate(group=[{}], EXPR$0=[COUNT()])
  LogicalFilter(condition=[AND(=($0, $6), =($5, $14))])
    LogicalJoin(condition=[true], joinType=[inner])
      LogicalJoin(condition=[true], joinType=[inner])
        LogicalTableScan(table=[[STATS, comments]])
        LogicalTableScan(table=[[STATS, comments]])
      LogicalTableScan(table=[[STATS, comments]])

#### LSQB

In [19]:
%%bash
cd ../lsqb/data/social-network-sf1-merged-fk/
ls

City.csv
City_isPartOf_Country.csv
Comment.csv
Comment_hasTag_Tag.csv
Company.csv
Company_isLocatedIn_Country.csv
Continent.csv
Country.csv
Country_isPartOf_Continent.csv
Forum.csv
Forum_hasMember_Person.csv
Forum_hasTag_Tag.csv
Person.csv
Person_hasInterest_Tag.csv
Person_knows_Person.csv
Person_likes_Comment.csv
Person_likes_Post.csv
Person_studyAt_University.csv
Person_workAt_Company.csv
Post.csv
Post_hasTag_Tag.csv
Tag.csv
TagClass.csv
University.csv
University_isLocatedIn_City.csv

In [20]:
import csv

# Replace 'your_file.csv' with the actual path to your CSV file
csv_file_path = '../lsqb/data/social-network-sf1-merged-fk/City.csv'

# Open the CSV file in read mode
with open(csv_file_path, 'r') as csv_file:
    # Create a CSV reader
    csv_reader = csv.reader(csv_file)

    # Read the header row
    header_row = next(csv_reader)

# Print the column names
print('Column Names:', header_row)

Column Names: ['id|ispartof_country']

In [21]:
import csv

# Replace 'your_file.csv' with the actual path to your CSV file
csv_file_path = '../stats/datasets/comments.csv'

# Open the CSV file in read mode
with open(csv_file_path, 'r') as csv_file:
    # Create a CSV reader
    csv_reader = csv.reader(csv_file)

    # Read the header row
    header_row = next(csv_reader)

# Print the column names
print('Column Names:', header_row)

Column Names: ['Id', 'PostId', 'Score', 'CreationDate', 'UserId']

In [ ]:
query = '''SELECT count(*)
FROM lsqb.\\"Country\\"
JOIN lsqb.\\"City\\"
  ON \\"City\\".\\"ispartof_country\\" = \\"Country\\".\\"id\\"
JOIN lsqb.\\"Person\\"
  ON \\"Person\\".\\"islocatedin_city\\" = \\"City\\".\\"id\\"
JOIN lsqb.\\"Forum_hasMember_Person\\"
  ON \\"Forum_hasMember_Person\\".\\"id\\" = \\"Person\\".\\"id\\"'''
command = f'cd ../../../calcite_java/QueryPlan && ./run org.calcite.QueryPlan "{query}"'
result = subprocess.check_output(command, shell=True, text=True)
result = result.strip().split('\n\n')[-1]
print(result)

#### String manipulation

In [57]:
import re

def transform_columns(input_string):
    # Define a regular expression pattern to match the column specifications
    pattern = re.compile(r'\b(\w+)\s*(?:as\s*(\w+))?,?\s*')

    # Find all matches in the input string
    matches = pattern.findall(input_string)

    # Replace the matched patterns with the desired strings
    transformed_string = input_string
    for match in matches:
        original_column, alias = match
        alias = alias or original_column  # If no alias is provided, use the original column name
        replacement = f'status.{original_column} AS {alias}'
        transformed_string = re.sub(re.escape(match[0]), replacement, transformed_string)

    return transformed_string

# Example input strings
input_strings = [
    "comments as c, tag as t",
    "comments AS c, tag AS t",
    "comments c, tag t",
    "comments, tag"
]

# Apply the transformation to each input string
for input_str in input_strings:
    result = transform_columns(input_str)
    print(f'Original: {input_str}\nTransformed: {result}\n')

Original: comments as c, tag as t
Transformed: status.comments AS c as c, status.tag AS t as t

Original: comments AS c, tag AS t
Transformed: sstatus.t AS tastatus.t AS tus.sstatus.t AS tastatus.t AS tus.c sstatus.t AS tastatus.t AS tus.AS AS AS commenstatus.t AS ts sstatus.t AS tastatus.t AS tus.sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.c sstatus.t AS tastatus.t AS tus.AS AS AS commenstatus.t AS ts sstatus.t AS tastatus.t AS tus.sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.c sstatus.t AS tastatus.t AS tus.AS AS AS c, sstatus.t AS tastatus.t AS tus.status.t AS tag sstatus.t AS tastatus.t AS tus.AS AS AS status.t AS tag sstatus.t AS tastatus.t AS tus.sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.AS AS AS sstatus.t AS tastatus.t AS tus.AS AS AS status.t AS t

Original: comments c, tag t
Transformed: sstatus.t AS tastatus.t AS tus.sstatus.t AS tastatus.t AS tus.c AS commenstatus.t AS ts AS sstatus.t AS tastatus.t AS tus.c AS commenstatus.t AS ts sstatus.t AS tastatus.t AS tus.c AS c, sstatus.t AS tastatus.t AS tus.status.t AS tag AS status.t AS tag status.t AS t

Original: comments, tag
Transformed: status.comments AS comments, status.tag AS tag

In [58]:
import re

def transform_columns(input_string):
    # Define a regular expression pattern to match the column specifications
    pattern = re.compile(r'\b(\w+)\s*(?:as\s*(\w+))?,?\s*')

    # Find all matches in the input string
    matches = pattern.findall(input_string)
    print(matches)

# Example input strings
input_strings = [
    "comments as c, tag as t",
    "comments AS c, tag AS t",
    "comments c, tag t",
    "comments, tag"
]

# Apply the transformation to each input string
for input_str in input_strings:
    result = transform_columns(input_str)
    print(f'Original: {input_str}\nTransformed: {result}\n')

[('comments', 'c'), ('tag', 't')]
Original: comments as c, tag as t
Transformed: None

[('comments', ''), ('AS', ''), ('c', ''), ('tag', ''), ('AS', ''), ('t', '')]
Original: comments AS c, tag AS t
Transformed: None

[('comments', ''), ('c', ''), ('tag', ''), ('t', '')]
Original: comments c, tag t
Transformed: None

[('comments', ''), ('tag', '')]
Original: comments, tag
Transformed: None

In [107]:
re.split(r'\bwhere\b', "a bb", flags=re.IGNORECASE)

['a bb']

In [35]:
import re

In [125]:
def query_string_manipulation(query, dataset):
    query = query.replace('\n', ' ')
    q = re.split(r'\bfrom\b', query, flags=re.IGNORECASE)
    result = q[0]

    tables = []
    if re.search(r'\bwhere\b', q[1], flags=re.IGNORECASE):
        q1 = re.split(r'\bwhere\b', q[1], flags=re.IGNORECASE)
        q10 = re.split(",", q1[0])
        for table in q10:
            table_split = table.strip().split(maxsplit = 1)
            result += dataset + '.\\\\"' + table_split[0] + '\\\\" ' + table_split[1] + ', '
            tables.append(table_split[0])
        conditions = re.split(r'\band\b', q1[1], flags=re.IGNORECASE)   
        for con in conditions:
            con_split = re.split(r'\s*([><]?=)\s*', con.strip())
            print(con_split)
            for i in con_split:
                x = i.split(".")
                print(x)
                if x[0] in tables:
                    print("yo")
                else:
                    print("ho")
    print(result)

In [126]:
query1 = '''SELECT COUNT(*) FROM comments as c, votes as v, users as u 
            WHERE u.Id = c.UserId AND u.Id = v.UserId
                AND comments.CreationDate>=CAST('2010-10-01 20:45:26' AS TIMESTAMP)
                AND c.CreationDate<=CAST('2014-09-05 12:51:17' AS TIMESTAMP) 
                AND v.BountyAmount<=100 AND u.UpVotes=0 
                AND u.CreationDate<=CAST('2014-09-12 03:25:34' AS TIMESTAMP)'''
query_string_manipulation(query1, "stats")

['u.Id', '=', 'c.UserId']
['u', 'Id']
ho
['=']
ho
['c', 'UserId']
ho
['u.Id', '=', 'v.UserId']
['u', 'Id']
ho
['=']
ho
['v', 'UserId']
ho
['comments.CreationDate', '>=', "CAST('2010-10-01 20:45:26' AS TIMESTAMP)"]
['comments', 'CreationDate']
yo
['>=']
ho
["CAST('2010-10-01 20:45:26' AS TIMESTAMP)"]
ho
['c.CreationDate', '<=', "CAST('2014-09-05 12:51:17' AS TIMESTAMP)"]
['c', 'CreationDate']
ho
['<=']
ho
["CAST('2014-09-05 12:51:17' AS TIMESTAMP)"]
ho
['v.BountyAmount', '<=', '100']
['v', 'BountyAmount']
ho
['<=']
ho
['100']
ho
['u.UpVotes', '=', '0']
['u', 'UpVotes']
ho
['=']
ho
['0']
ho
['u.CreationDate', '<=', "CAST('2014-09-12 03:25:34' AS TIMESTAMP)"]
['u', 'CreationDate']
ho
['<=']
ho
["CAST('2014-09-12 03:25:34' AS TIMESTAMP)"]
ho
SELECT COUNT(*) stats.\\"comments\\" as c, stats.\\"votes\\" as v, stats.\\"users\\" as u,

In [95]:
query2 = '''SELECT count(*)
FROM users
JOIN votes
  ON users.Id = votes.UserId
JOIN comments
  ON users.Id = comments.UserId'''
query_string_manipulation(query2, "stats")

SELECT count(*)

In [110]:
query3 = '''select count(*) from comments c1, comments c2, comments c3 where c1.Id = c2.PostId AND c2.Id = c3.UserId'''
query_string_manipulation(query3, "stats")

['c1.Id', '=', 'c2.PostId']
['c2.Id', '=', 'c3.UserId']
select count(*) stats.\\"comments\\" c1, stats.\\"comments\\" c2, stats.\\"comments\\" c3,
['comments', 'comments', 'comments']

In [41]:
query1 = '''SELECT COUNT(*) FROM stats.\\"comments\\" as c, stats.\\"votes\\" as v, stats.\\"users\\" as u 
            WHERE u.\\"Id\\" = c.\\"UserId\\" AND u.\\"Id\\" = v.\\"UserId\\" 
                AND c.\\"CreationDate\\">=CAST('2010-10-01 20:45:26' AS TIMESTAMP)
                AND c.\\"CreationDate\\"<=CAST('2014-09-05 12:51:17' AS TIMESTAMP) 
                AND v.\\"BountyAmount\\"<=100 AND u.\\"UpVotes\\"=0 
                AND u.\\"CreationDate\\"<=CAST('2014-09-12 03:25:34' AS TIMESTAMP)'''

In [42]:
query2 = '''SELECT count(*)
FROM stats.\\"users\\"
JOIN stats.\\"votes\\"
  ON \\"users\\".\\"Id\\" = \\"votes\\".\\"UserId\\"
JOIN stats.\\"comments\\"
  ON \\"users\\".\\"Id\\" = \\"comments\\".\\"UserId\\"'''

In [43]:
query3 = '''select count(*) from stats.\\"comments\\" c1, stats.\\"comments\\" c2, stats.\\"comments\\" c3 
where c1.\\"Id\\" = c2.\\"PostId\\" AND c2.\\"Id\\" = c3.\\"UserId\\"'''

In [ ]:
query2 = '''SELECT count(*)
FROM lsqb.\\"Country\\"
JOIN lsqb.\\"City\\"
  ON City.\\"isPartOf_CountryId\\" = Country.\\"CountryId\\"
JOIN lsqb.\\"Person\\"
  ON Person.\\"isLocatedIn_CityId\\" = City.\\"CityId\\"
JOIN lsqb.\\"Forum_hasMember_Person\\"
  ON Forum_hasMember_Person.\\"PersonId\\" = Person.\\"PersonId\\"'''
query_string_manipulation(query2)

In [33]:
import psycopg2

# Replace these with your PostgreSQL connection details
dbname = "lsqb"
user = "lsqb"
password = "lsqb"
host = "postgres"

# SQL statement representing your logical query plan
logical_query = result

try:
    # Connect to the PostgreSQL database
    connection = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)

    # Create a cursor to interact with the database
    cursor = connection.cursor()

    # Execute the logical query plan
    cursor.execute(logical_query)

    # Fetch the results if needed
    results = cursor.fetchall()
    print(results)

    # Commit the transaction
    connection.commit()

except Exception as e:
    print("Error:", e)

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

Error: could not translate host name "postgres" to address: Name or service not known

NameError: name 'cursor' is not defined

In [8]:
!pip install docopt
!pip install networkx
!pip install colorama
!pip install termcolor
!pip install duckdb
!pip install psycopg

Requirement already satisfied: docopt in /usr/local/lib/python3.10/dist-packages (0.6.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (3.2.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: colorama in /usr/local/lib/python3.10/dist-packages (0.4.6)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: termcolor in /usr/local/lib/python3.10/dist-packages (2.4.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.9.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: psycopg in /usr/local/lib/python3.10/dist-packages (3.1.17)
Requirement already satisfied: typing-extensions>=4.1 in /usr/local/lib/python3.10/dist-packages (from psycopg) (4.9.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
!chmod +x sql2hg.jar

The queries here have to have the form SELECT * FROM ... WHERE ..., without additional count/min in SELECT or >=/<= in the WHERE or joins. Also aliases (badges AS b) does not work!   
The queries in the benchmarks do not have this form, but we simplify them (e.g. COUNT(*) -> *).  
The queries simplified to this pattern are saved in the "simple" folders.

### Create the execution plan for one query

In [3]:
%%bash
python3 main.py "lsqb/sql/simple/q1.sql"

/* Arguments
 {'--agg': False,
 '--pg': False,
 '<query>': 'lsqb/sql/simple/q1.sql'}  */
TreeNode-Post
-- Time to compute JT: 0.2214040000581008 ms

--- stage1
create view Post_s1_14c8510065a68094 as select Post.PostId as v9,Post.Forum_containerOfId as v6 from Post;
create view Forum_hasMember_Person_s1_14c8510065a68094 as select Forum_hasMember_Person.PersonId as v4,Forum_hasMember_Person.ForumId as v6 from Forum_hasMember_Person;
create view Person_s1_14c8510065a68094 as select Person.isLocatedIn_CityId as v2,Person.PersonId as v4 from Person;
create view City_s1_14c8510065a68094 as select City.CityId as v2,City.isPartOf_CountryId as v0 from City;
create view Country_s2_14c8510065a68094 as select Country.CountryId as v0 from Country;
create view Forum_s2_14c8510065a68094 as select Forum.ForumId as v6 from Forum;
create view Comment_s1_14c8510065a68094 as select Comment.CommentId as v11,Comment.replyOf_PostId as v9 from Comment;
create view Comment_hasTag_Tag_s1_14c8510065a68094 as select Comment_hasTag_Tag.CommentId as v11,Comment_hasTag_Tag.TagId as v13 from Comment_hasTag_Tag;
create view Tag_s1_14c8510065a68094 as select Tag.hasType_TagClassId as v15,Tag.TagId as v13 from Tag;
create view TagClass_s2_14c8510065a68094 as select TagClass.TagClassId as v15 from TagClass;


--- stage2
create temp table Tag_s2_14c8510065a68094 as select * from Tag_s1_14c8510065a68094 where (v15) in (select (v15) from TagClass_s2_14c8510065a68094);
create temp table Comment_hasTag_Tag_s2_14c8510065a68094 as select * from Comment_hasTag_Tag_s1_14c8510065a68094 where (v13) in (select (v13) from Tag_s2_14c8510065a68094);
create temp table Comment_s2_14c8510065a68094 as select * from Comment_s1_14c8510065a68094 where (v11) in (select (v11) from Comment_hasTag_Tag_s2_14c8510065a68094);
create temp table City_s2_14c8510065a68094 as select * from City_s1_14c8510065a68094 where (v0) in (select (v0) from Country_s2_14c8510065a68094);
create temp table Person_s2_14c8510065a68094 as select * from Person_s1_14c8510065a68094 where (v2) in (select (v2) from City_s2_14c8510065a68094);
create temp table Forum_hasMember_Person_s2_14c8510065a68094 as select * from Forum_hasMember_Person_s1_14c8510065a68094 where (v6) in (select (v6) from Forum_s2_14c8510065a68094) AND (v4) in (select (v4) from Person_s2_14c8510065a68094);
create temp table Post_s2_14c8510065a68094 as select * from Post_s1_14c8510065a68094 where (v9) in (select (v9) from Comment_s2_14c8510065a68094) AND (v6) in (select (v6) from Forum_hasMember_Person_s2_14c8510065a68094);


--- stage3
create temp table Forum_hasMember_Person_s3_14c8510065a68094 as select * from Forum_hasMember_Person_s2_14c8510065a68094 where (v6) in (select (v6) from Post_s2_14c8510065a68094) ;
create temp table Person_s3_14c8510065a68094 as select * from Person_s2_14c8510065a68094 where (v4) in (select (v4) from Forum_hasMember_Person_s2_14c8510065a68094) ;
create temp table City_s3_14c8510065a68094 as select * from City_s2_14c8510065a68094 where (v2) in (select (v2) from Person_s2_14c8510065a68094) ;
create temp table Country_s3_14c8510065a68094 as select * from Country_s2_14c8510065a68094 where (v0) in (select (v0) from City_s2_14c8510065a68094) ;
create temp table Forum_s3_14c8510065a68094 as select * from Forum_s2_14c8510065a68094 where (v6) in (select (v6) from Forum_hasMember_Person_s2_14c8510065a68094) ;
create temp table Comment_s3_14c8510065a68094 as select * from Comment_s2_14c8510065a68094 where (v9) in (select (v9) from Post_s2_14c8510065a68094) ;
create temp table Comment_hasTag_Tag_s3_14c8510065a68094 as select * from Comment_hasTag_Tag_s2_14c8510065a68094 where (v11) in (select (v11) from Comment_s2_14c8510065a68094) ;
create temp table Tag_s3_14c8510065a68094 as select * from Tag_s2_14c8510065a68094 where (v13) in (select (v13) from Comment_hasTag_Tag_s2_14c8510065a68094) ;
create temp table TagClass_s3_14c8510065a68094 as select * from TagClass_s2_14c8510065a68094 where (v15) in (select (v15) from Tag_s2_14c8510065a68094) ;


--- stage4
create temp table s4_group_46E0584412D23B7B as  select * from Comment_s3_14c8510065a68094 NATURAL JOIN Comment_hasTag_Tag_s3_14c8510065a68094 NATURAL JOIN Tag_s3_14c8510065a68094 NATURAL JOIN TagClass_s3_14c8510065a68094;
create temp table s4_group_303D5F3A1311BE37 as  select * from Forum_hasMember_Person_s3_14c8510065a68094 NATURAL JOIN Person_s3_14c8510065a68094 NATURAL JOIN City_s3_14c8510065a68094 NATURAL JOIN Country_s3_14c8510065a68094 NATURAL JOIN Forum_s3_14c8510065a68094;
create temp table s4_group_7B6B55FBCDDA9CA6 as  select * from Post_s2_14c8510065a68094;
create temp table _star_final_s4_14c8510065a68094 as select * from s4_group_46E0584412D23B7B natural join s4_group_303D5F3A1311BE37 natural join s4_group_7B6B55FBCDDA9CA6


--- cleanup
drop view if exists Post_s1_14c8510065a68094 cascade;
drop view if exists Forum_hasMember_Person_s1_14c8510065a68094 cascade;
drop view if exists Person_s1_14c8510065a68094 cascade;
drop view if exists City_s1_14c8510065a68094 cascade;
drop view if exists Country_s2_14c8510065a68094 cascade;
drop view if exists Forum_s2_14c8510065a68094 cascade;
drop view if exists Comment_s1_14c8510065a68094 cascade;
drop view if exists Comment_hasTag_Tag_s1_14c8510065a68094 cascade;
drop view if exists Tag_s1_14c8510065a68094 cascade;
drop view if exists TagClass_s2_14c8510065a68094 cascade;
drop table if exists Tag_s2_14c8510065a68094 cascade;
drop table if exists Comment_hasTag_Tag_s2_14c8510065a68094 cascade;
drop table if exists Comment_s2_14c8510065a68094 cascade;
drop table if exists City_s2_14c8510065a68094 cascade;
drop table if exists Person_s2_14c8510065a68094 cascade;
drop table if exists Forum_hasMember_Person_s2_14c8510065a68094 cascade;
drop table if exists Post_s2_14c8510065a68094 cascade;
drop table if exists Forum_hasMember_Person_s3_14c8510065a68094 cascade;
drop table if exists Person_s3_14c8510065a68094 cascade;
drop table if exists City_s3_14c8510065a68094 cascade;
drop table if exists Country_s3_14c8510065a68094 cascade;
drop table if exists Forum_s3_14c8510065a68094 cascade;
drop table if exists Comment_s3_14c8510065a68094 cascade;
drop table if exists Comment_hasTag_Tag_s3_14c8510065a68094 cascade;
drop table if exists Tag_s3_14c8510065a68094 cascade;
drop table if exists TagClass_s3_14c8510065a68094 cascade;
drop table if exists s4_group_46E0584412D23B7B cascade;
drop table if exists s4_group_303D5F3A1311BE37 cascade;
drop table if exists s4_group_7B6B55FBCDDA9CA6 cascade;
drop table if exists _star_final_s4_14c8510065a68094 cascade;


/* hypergraph
City(v2,v0)
Comment(v11,v9)
Comment_hasTag_Tag(v11,v13)
Country(v0)
Forum(v6)
Forum_hasMember_Person(v4,v6)
Person(v2,v4)
Post(v9,v6)
Tag(v15,v13)
TagClass(v15)

*/

/* join tree
['Post',
 [['Comment', [['Comment_hasTag_Tag', [['Tag', [['TagClass', []]]]]]]],
  ['Forum_hasMember_Person',
   [['Forum', []], ['Person', [['City', [['Country', []]]]]]]]]]
*/

-- Time to create plan: 0.3169800002069678 ms

### Create the execution plan and execute it and stop the time

#### with DuckDB and LSQB

erstellen der der DuckDB database for LSQB

In [5]:
# use the scale factor, which you also used for downloading the data
SF = 1

In [6]:
import duckdb
import os

con = duckdb.connect(database=f"lsqb/lsqb{SF}.duckdb")

with open("lsqb/sql/schema.sql", "r") as f:
    schema_init_query = f.read()
    con.execute(schema_init_query)

data_dir = f"lsqb/data/social-network-sf{SF}-merged-fk"
with open("lsqb/sql/snb-load.sql", "r") as f:
    load_query = f.read().replace("PATHVAR", data_dir)
    con.execute(load_query)

with open("lsqb/sql/views.sql", "r") as f:
    view_init_query = f.read()
    con.execute(view_init_query)

con.close()

In [7]:
!python3 duckrunner.py "lsqb/sql/simple/test1.sql" "results/DDB_LSQB.csv" "lsqb/lsqb${SF}.duckdb"

{'--agg': False,
 '<csvout>': 'results/DDB_LSQB.csv',
 '<dbfile>': 'lsqb/lsqb.duckdb',
 '<glob>': 'lsqb/sql/simple/test1.sql'}
lsqb/sql/simple/test1.sql
TreeNode-City
Qsetup create temp table _star_select as SELECT Country.CountryId,City.CityId
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId; TreeNode-City City(v2,v0)
Country(v0)
Person(v2)
 {'v0': ['Country.CountryId', 'City.isPartOf_CountryId'], 'v2': ['City.CityId', 'Person.isLocatedIn_CityId']}
here
  width 1
  running classic
  -- debug:  create temp table _star_select as SELECT Country.CountryId,City.CityId
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
Exitcode None
['test1.sql', 'baseline', '', 1, 0.01664342399999441, 'ok', '(184000)']
------------
QUERIES stage1
	 create view City_s1_dfe3a0065a680d3 as select City.CityId as v2,City.isPartOf_CountryId as v0 from City;
	 create view Person_s2_dfe3a0065a680d3 as select Person.isLocatedIn_CityId as v2 from Person;
	 create view Country_s2_dfe3a0065a680d3 as select Country.CountryId as v0 from Country;
QUERIES stage2
	 create temp table City_s2_dfe3a0065a680d3 as select * from City_s1_dfe3a0065a680d3 where (v0) in (select (v0) from Country_s2_dfe3a0065a680d3) AND (v2) in (select (v2) from Person_s2_dfe3a0065a680d3);
QUERIES stage3
	 create temp table Person_s3_dfe3a0065a680d3 as select * from Person_s2_dfe3a0065a680d3 where (v2) in (select (v2) from City_s2_dfe3a0065a680d3) ;
	 create temp table Country_s3_dfe3a0065a680d3 as select * from Country_s2_dfe3a0065a680d3 where (v0) in (select (v0) from City_s2_dfe3a0065a680d3) ;
QUERIES stage4
	 create temp table s4_group_47467CAB54A3BFC7 as  select * from City_s2_dfe3a0065a680d3 NATURAL JOIN Country_s3_dfe3a0065a680d3 NATURAL JOIN Person_s3_dfe3a0065a680d3;
------------
['test1.sql', 'stage1', '', 1, 0.024881861000267236, 'ok', '-']
['test1.sql', 'stage2', '', 1, 0.015097868999873754, 'ok', '(1343)']
['test1.sql', 'stage3', '', 1, 0.010065004999887606, 'ok', '(111)']
['test1.sql', 'stage4', '', 1, 0.005295207000017399, 'ok', '(184000)']
  total time 0.055339942000045994
['test1.sql', 'total', '', 1, 0.055339942000045994, 'ok', '-']

In [80]:
!python3 duckrunner.py "lsqb/sql/simple/test*.sql" "results/DDB_LSQB.csv" "lsqb/lsqb${SF}.duckdb"

{'--agg': False,
 '<csvout>': 'DDB_LSQB.csv',
 '<dbfile>': '/benchmark/lsqb/lsqb1.duckdb',
 '<glob>': '../lsqb/sql/simple/test*.sql'}
../lsqb/sql/simple/test1.sql
Query SELECT *
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
TreeNode-City
Qsetup create temp table _star_select as SELECT Country.CountryId,City.CityId
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId; TreeNode-City City(v2,v0)
Country(v0)
Person(v2)
 {'v0': ['Country.CountryId', 'City.isPartOf_CountryId'], 'v2': ['City.CityId', 'Person.isLocatedIn_CityId']}
here
  width 1
  running classic
  -- debug:  create temp table _star_select as SELECT Country.CountryId,City.CityId
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
Exitcode None
['test1.sql', 'baseline', '', 1, 0.012326355000368494, 'ok', '(11000)']
------------
QUERIES stage1
	 create view City_s1_19d5a98065a648b0 as select City.CityId as v2,City.isPartOf_CountryId as v0 from City;
	 create view Person_s2_19d5a98065a648b0 as select Person.isLocatedIn_CityId as v2 from Person;
	 create view Country_s2_19d5a98065a648b0 as select Country.CountryId as v0 from Country;
QUERIES stage2
	 create temp table City_s2_19d5a98065a648b0 as select * from City_s1_19d5a98065a648b0 where (v0) in (select (v0) from Country_s2_19d5a98065a648b0) AND (v2) in (select (v2) from Person_s2_19d5a98065a648b0);
QUERIES stage3
	 create temp table Person_s3_19d5a98065a648b0 as select * from Person_s2_19d5a98065a648b0 where (v2) in (select (v2) from City_s2_19d5a98065a648b0) ;
	 create temp table Country_s3_19d5a98065a648b0 as select * from Country_s2_19d5a98065a648b0 where (v0) in (select (v0) from City_s2_19d5a98065a648b0) ;
QUERIES stage4
	 create temp table s4_group_6B5960843B354E16 as  select * from City_s2_19d5a98065a648b0 NATURAL JOIN Country_s3_19d5a98065a648b0 NATURAL JOIN Person_s3_19d5a98065a648b0;
------------
['test1.sql', 'stage1', '', 1, 0.010603230000015174, 'ok', '-']
['test1.sql', 'stage2', '', 1, 0.005669588999808184, 'ok', '(1343)']
['test1.sql', 'stage3', '', 1, 0.00297143399984634, 'ok', '(111)']
['test1.sql', 'stage4', '', 1, 0.0018518380002205959, 'ok', '(11000)']
  total time 0.021096090999890293
['test1.sql', 'total', '', 1, 0.021096090999890293, 'ok', '-']
../lsqb/sql/simple/test2.sql
Query SELECT *
FROM Forum_hasMember_Person, Forum, Post, Comment, Comment_hasTag_Tag
WHERE Forum.ForumId = Forum_hasMember_Person.ForumId
AND Post.Forum_containerOfId = Forum.ForumId
AND Comment.replyOf_PostId = Post.PostId
AND Comment_hasTag_Tag.CommentId = Comment.CommentId
TreeNode-Post
Qsetup create temp table _star_select as SELECT Post.Forum_containerOfId,Post.PostId,Comment_hasTag_Tag.CommentId
FROM Forum_hasMember_Person, Forum, Post, Comment, Comment_hasTag_Tag
WHERE Forum.ForumId = Forum_hasMember_Person.ForumId
AND Post.Forum_containerOfId = Forum.ForumId
AND Comment.replyOf_PostId = Post.PostId
AND Comment_hasTag_Tag.CommentId = Comment.CommentId TreeNode-Post Comment(v3,v5)
Comment_hasTag_Tag(v5)
Forum(v0)
Forum_hasMember_Person(v0)
Post(v3,v0)
 {'v0': ['Post.Forum_containerOfId', 'Forum.ForumId', 'Forum_hasMember_Person.ForumId'], 'v3': ['Post.PostId', 'Comment.replyOf_PostId'], 'v5': ['Comment_hasTag_Tag.CommentId', 'Comment.CommentId']}
here
  width 1
  running classic
  -- debug:  create temp table _star_select as SELECT Post.Forum_containerOfId,Post.PostId,Comment_hasTag_Tag.CommentId
FROM Forum_hasMember_Person, Forum, Post, Comment, Comment_hasTag_Tag
WHERE Forum.ForumId = Forum_hasMember_Person.ForumId
AND Post.Forum_containerOfId = Forum.ForumId
AND Comment.replyOf_PostId = Post.PostId
AND Comment_hasTag_Tag.CommentId = Comment.CommentId
100% ▕████████████████████████████████████████████████████████████▏
Exitcode None
['test2.sql', 'baseline', '', 1, 6.468517753999549, 'ok', '(221636419)']
------------
QUERIES stage1
	 create view Post_s1_19d5a98065a648b0 as select Post.PostId as v3,Post.Forum_containerOfId as v0 from Post;
	 create view Comment_s1_19d5a98065a648b0 as select Comment.replyOf_PostId as v3,Comment.CommentId as v5 from Comment;
	 create view Comment_hasTag_Tag_s2_19d5a98065a648b0 as select Comment_hasTag_Tag.CommentId as v5 from Comment_hasTag_Tag;
	 create view Forum_hasMember_Person_s1_19d5a98065a648b0 as select Forum_hasMember_Person.ForumId as v0 from Forum_hasMember_Person;
	 create view Forum_s2_19d5a98065a648b0 as select Forum.ForumId as v0 from Forum;
QUERIES stage2
	 create temp table Forum_hasMember_Person_s2_19d5a98065a648b0 as select * from Forum_hasMember_Person_s1_19d5a98065a648b0 where (v0) in (select (v0) from Forum_s2_19d5a98065a648b0);
	 create temp table Comment_s2_19d5a98065a648b0 as select * from Comment_s1_19d5a98065a648b0 where (v5) in (select (v5) from Comment_hasTag_Tag_s2_19d5a98065a648b0);
	 create temp table Post_s2_19d5a98065a648b0 as select * from Post_s1_19d5a98065a648b0 where (v0) in (select (v0) from Forum_hasMember_Person_s2_19d5a98065a648b0) AND (v3) in (select (v3) from Comment_s2_19d5a98065a648b0);
QUERIES stage3
	 create temp table Comment_s3_19d5a98065a648b0 as select * from Comment_s2_19d5a98065a648b0 where (v3) in (select (v3) from Post_s2_19d5a98065a648b0) ;
	 create temp table Comment_hasTag_Tag_s3_19d5a98065a648b0 as select * from Comment_hasTag_Tag_s2_19d5a98065a648b0 where (v5) in (select (v5) from Comment_s2_19d5a98065a648b0) ;
	 create temp table Forum_hasMember_Person_s3_19d5a98065a648b0 as select * from Forum_hasMember_Person_s2_19d5a98065a648b0 where (v0) in (select (v0) from Post_s2_19d5a98065a648b0) ;
	 create temp table Forum_s3_19d5a98065a648b0 as select * from Forum_s2_19d5a98065a648b0 where (v0) in (select (v0) from Forum_hasMember_Person_s2_19d5a98065a648b0) ;
QUERIES stage4
	 create temp table s4_group_3A411EACF7098EFB as  select * from Post_s2_19d5a98065a648b0 NATURAL JOIN Forum_hasMember_Person_s3_19d5a98065a648b0 NATURAL JOIN Forum_s3_19d5a98065a648b0 NATURAL JOIN Comment_s3_19d5a98065a648b0 NATURAL JOIN Comment_hasTag_Tag_s3_19d5a98065a648b0;
------------
100% ▕████████████████████████████████████████████████████████████▏
['test2.sql', 'stage1', '', 1, 0.015392895000331919, 'ok', '-']
['test2.sql', 'stage2', '', 1, 0.2954511839998304, 'ok', '(222033)']
['test2.sql', 'stage3', '', 1, 0.11089204999916547, 'ok', '(100908)']
['test2.sql', 'stage4', '', 1, 11.83832741400056, 'ok', '(221636419)']
  total time 12.260063542999887
['test2.sql', 'total', '', 1, 12.260063542999887, 'ok', '-']

In [81]:
!python3 duckrunner.py "lsqb/sql/simple/test*.sql" "results/DDB_LSQB_AGG.csv" "lsqb/lsqb1.duckdb" --agg

{'--agg': True,
 '<csvout>': 'DDB_LSQB_AGG.csv',
 '<dbfile>': '/benchmark/lsqb/lsqb1.duckdb',
 '<glob>': '../lsqb/sql/simple/test*.sql'}
../lsqb/sql/simple/test1.sql
Query SELECT *
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
TreeNode-City
Qsetup SELECT *
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId; TreeNode-City City(v0,v2)
Country(v0)
Person(v2)
 {'v0': ['Country.CountryId', 'City.isPartOf_CountryId'], 'v2': ['City.CityId', 'Person.isLocatedIn_CityId']}
here
  width 1
  running classic
  -- debug:  SELECT *
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
Exitcode None
['test1.sql', 'baseline', 'min(City.isPartOf_CountryId)', 1, 0.011251795000134734, 'ok', '(57, 1458, 874, 57, 26388279068012, 874)']
------------
QUERIES stage1
	 create view City_s1_3e8990065a648cf as select City.isPartOf_CountryId as v0,City.CityId as v2 from City;
	 create view Person_s2_3e8990065a648cf as select Person.isLocatedIn_CityId as v2 from Person;
	 create view Country_s2_3e8990065a648cf as select Country.CountryId as v0 from Country;
QUERIES stage2
	 create temp table City_s2_3e8990065a648cf as select * from City_s1_3e8990065a648cf where (v0) in (select (v0) from Country_s2_3e8990065a648cf) AND (v2) in (select (v2) from Person_s2_3e8990065a648cf);
QUERIES stage3
QUERIES stage4
	 select min(v0) from City_s2_3e8990065a648cf;
------------
['test1.sql', 'stage1', 'min(City.isPartOf_CountryId)', 1, 0.009823266000239528, 'ok', '-']
['test1.sql', 'stage2', 'min(City.isPartOf_CountryId)', 1, 0.004743752999274875, 'ok', '(1343)']
['test1.sql', 'stage3', 'min(City.isPartOf_CountryId)', 1, 0, 'ok', 'n/a']
['test1.sql', 'stage4', 'min(City.isPartOf_CountryId)', 1, 0.0009322989999418496, 'ok', '(0)']
  total time 0.015499317999456252
['test1.sql', 'total', 'min(City.isPartOf_CountryId)', 1, 0.015499317999456252, 'ok', '-']
../lsqb/sql/simple/test2.sql
Query SELECT *
FROM Forum_hasMember_Person, Forum, Post, Comment, Comment_hasTag_Tag
WHERE Forum.ForumId = Forum_hasMember_Person.ForumId
AND Post.Forum_containerOfId = Forum.ForumId
AND Comment.replyOf_PostId = Post.PostId
AND Comment_hasTag_Tag.CommentId = Comment.CommentId
TreeNode-Post
Qsetup SELECT *
FROM Forum_hasMember_Person, Forum, Post, Comment, Comment_hasTag_Tag
WHERE Forum.ForumId = Forum_hasMember_Person.ForumId
AND Post.Forum_containerOfId = Forum.ForumId
AND Comment.replyOf_PostId = Post.PostId
AND Comment_hasTag_Tag.CommentId = Comment.CommentId TreeNode-Forum Comment(v5,v3)
Comment_hasTag_Tag(v5)
Forum(v0)
Forum_hasMember_Person(v0)
Post(v0,v3)
 {'v0': ['Post.Forum_containerOfId', 'Forum.ForumId', 'Forum_hasMember_Person.ForumId'], 'v3': ['Post.PostId', 'Comment.replyOf_PostId'], 'v5': ['Comment_hasTag_Tag.CommentId', 'Comment.CommentId']}
here
  width 1
  running classic
  -- debug:  SELECT *
FROM Forum_hasMember_Person, Forum, Post, Comment, Comment_hasTag_Tag
WHERE Forum.ForumId = Forum_hasMember_Person.ForumId
AND Post.Forum_containerOfId = Forum.ForumId
AND Comment.replyOf_PostId = Post.PostId
AND Comment_hasTag_Tag.CommentId = Comment.CommentId
['test2.sql', 'baseline', 'min(Forum.ForumId)', 1, 0, 'timeout', '-']
------------
QUERIES stage1
	 create view Forum_s1_3e8990065a648cf as select Forum.ForumId as v0 from Forum;
	 create view Forum_hasMember_Person_s1_3e8990065a648cf as select Forum_hasMember_Person.ForumId as v0 from Forum_hasMember_Person;
	 create view Post_s1_3e8990065a648cf as select Post.Forum_containerOfId as v0,Post.PostId as v3 from Post;
	 create view Comment_s1_3e8990065a648cf as select Comment.CommentId as v5,Comment.replyOf_PostId as v3 from Comment;
	 create view Comment_hasTag_Tag_s2_3e8990065a648cf as select Comment_hasTag_Tag.CommentId as v5 from Comment_hasTag_Tag;
QUERIES stage2
	 create temp table Comment_s2_3e8990065a648cf as select * from Comment_s1_3e8990065a648cf where (v5) in (select (v5) from Comment_hasTag_Tag_s2_3e8990065a648cf);
	 create temp table Post_s2_3e8990065a648cf as select * from Post_s1_3e8990065a648cf where (v3) in (select (v3) from Comment_s2_3e8990065a648cf);
	 create temp table Forum_hasMember_Person_s2_3e8990065a648cf as select * from Forum_hasMember_Person_s1_3e8990065a648cf where (v0) in (select (v0) from Post_s2_3e8990065a648cf);
	 create temp table Forum_s2_3e8990065a648cf as select * from Forum_s1_3e8990065a648cf where (v0) in (select (v0) from Forum_hasMember_Person_s2_3e8990065a648cf);
QUERIES stage3
QUERIES stage4
	 select min(v0) from Forum_s2_3e8990065a648cf;
------------
['test2.sql', 'stage1', 'min(Forum.ForumId)', 1, 0.023049643001286313, 'ok', '-']
['test2.sql', 'stage2', 'min(Forum.ForumId)', 1, 0.3984617040005105, 'ok', '(9074)']
['test2.sql', 'stage3', 'min(Forum.ForumId)', 1, 0, 'ok', 'n/a']
['test2.sql', 'stage4', 'min(Forum.ForumId)', 1, 0.0023626060010428773, 'ok', '(36)']
  total time 0.4238739530028397
['test2.sql', 'total', 'min(Forum.ForumId)', 1, 0.4238739530028397, 'ok', '-']

#### with PostgresSQL and LSQB

In [9]:
!chmod +x import-lsqb.sh

In [12]:
%%bash
export SF=1
./import-lsqb.sh

DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP VIEW
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE

psql:lsqb/sql/schema.sql:1: NOTICE:  table "company" does not exist, skipping

DROP TABLE
DROP TABLE

psql:lsqb/sql/schema.sql:2: NOTICE:  table "university" does not exist, skipping
psql:lsqb/sql/schema.sql:3: NOTICE:  table "continent" does not exist, skipping
psql:lsqb/sql/schema.sql:4: NOTICE:  table "country" does not exist, skipping
psql:lsqb/sql/schema.sql:5: NOTICE:  table "city" does not exist, skipping
psql:lsqb/sql/schema.sql:6: NOTICE:  table "tag" does not exist, skipping
psql:lsqb/sql/schema.sql:7: NOTICE:  table "tagclass" does not exist, skipping
psql:lsqb/sql/schema.sql:8: NOTICE:  table "forum" does not exist, skipping
psql:lsqb/sql/schema.sql:9: NOTICE:  table "comment" does not exist, skipping
psql:lsqb/sql/schema.sql:10: NOTICE:  table "post" does not exist, skipping
psql:lsqb/sql/schema.sql:11: NOTICE:  table "person" does not exist, skipping
psql:lsqb/sql/schema.sql:12: NOTICE:  table "comment_hastag_tag" does not exist, skipping
psql:lsqb/sql/schema.sql:13: NOTICE:  table "post_hastag_tag" does not exist, skipping
psql:lsqb/sql/schema.sql:14: NOTICE:  table "forum_hasmember_person" does not exist, skipping
psql:lsqb/sql/schema.sql:15: NOTICE:  table "forum_hastag_tag" does not exist, skipping
psql:lsqb/sql/schema.sql:16: NOTICE:  table "person_hasinterest_tag" does not exist, skipping
psql:lsqb/sql/schema.sql:17: NOTICE:  table "person_likes_comment" does not exist, skipping
psql:lsqb/sql/schema.sql:18: NOTICE:  table "person_likes_post" does not exist, skipping
psql:lsqb/sql/schema.sql:19: NOTICE:  table "person_studyat_university" does not exist, skipping
psql:lsqb/sql/schema.sql:20: NOTICE:  table "person_workat_company" does not exist, skipping
psql:lsqb/sql/schema.sql:21: NOTICE:  table "person_knows_person" does not exist, skipping

DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 1575
COPY 6380
COPY 6
COPY 111
COPY 1343
COPY 109617
COPY 2580332
COPY 1229275
COPY 11000
COPY 16080
COPY 71
COPY 3148317
COPY 815205
COPY 3268415
COPY 354213
COPY 255596
COPY 1668015
COPY 853145
COPY 8880
COPY 23600
COPY 226293
COPY 226293
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW
CREATE VIEW

In [18]:
!python3 pgrunner.py "lsqb/sql/simple/test1.sql" "results/POS_LSQB.csv" "host=postgres dbname=lsqb user=lsqb password=lsqb"

{'--agg': False,
 '--skip-classic': False,
 '<csvout>': 'results/POS_LSQB.csv',
 '<glob>': 'lsqb/sql/simple/test1.sql',
 '<pgconnectstr>': 'host=postgres dbname=lsqb user=lsqb password=lsqb'}
lsqb/sql/simple/test1.sql
TreeNode-City
  width 1
  running classic
  -- debug:  create temp table _star_select as SELECT Country.CountryId as Country___CountryId,City.CityId as City___CityId
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
['test1.sql', 'baseline', '', 1, 0.03149839300021995, 'ok', '-']
------------
QUERIES stage1
	 create view City_s1_16e7e30065a681bd as select City.isPartOf_CountryId as v0,City.CityId as v2 from City;
	 create view Person_s2_16e7e30065a681bd as select Person.isLocatedIn_CityId as v2 from Person;
	 create view Country_s2_16e7e30065a681bd as select Country.CountryId as v0 from Country;
QUERIES stage2
	 create temp table City_s2_16e7e30065a681bd as select * from City_s1_16e7e30065a681bd where (v0) in (select v0 from Country_s2_16e7e30065a681bd) AND (v2) in (select v2 from Person_s2_16e7e30065a681bd);
QUERIES stage3
	 create temp table Person_s3_16e7e30065a681bd as select * from Person_s2_16e7e30065a681bd where (v2) in (select v2 from City_s2_16e7e30065a681bd) ;
	 create temp table Country_s3_16e7e30065a681bd as select * from Country_s2_16e7e30065a681bd where (v0) in (select v0 from City_s2_16e7e30065a681bd) ;
QUERIES stage4
	 create temp table s4_group_6F5099C5C35CD8D3 as  select * from City_s2_16e7e30065a681bd NATURAL JOIN Country_s3_16e7e30065a681bd NATURAL JOIN Person_s3_16e7e30065a681bd;
------------
['test1.sql', 'stage1', '', 1, 0.01276226800018776, 'ok', '-']
['test1.sql', 'stage2', '', 1, 0.01594812799976353, 'ok', '-']
['test1.sql', 'stage3', '', 1, 0.046836005000841396, 'ok', '-']
['test1.sql', 'stage4', '', 1, 0.025128784999651543, 'ok', '-']
  total time 0.10067518600044423
['test1.sql', 'total', '', 1, 0.10067518600044423, 'ok', '-']

In [19]:
!python3 pgrunner.py "lsqb/sql/simple/test1.sql" "results/POS_LSQB_AGG.csv" "host=postgres dbname=lsqb user=lsqb password=lsqb" --agg

{'--agg': True,
 '--skip-classic': False,
 '<csvout>': 'results/POS_LSQB_AGG.csv',
 '<glob>': 'lsqb/sql/simple/test1.sql',
 '<pgconnectstr>': 'host=postgres dbname=lsqb user=lsqb password=lsqb'}
lsqb/sql/simple/test1.sql
TreeNode-City
  width 1
  running classic
  -- debug:  SELECT *
FROM Country, City, Person
WHERE City.isPartOf_CountryId = Country.CountryId
AND Person.isLocatedIn_CityId = City.CityId;
['test1.sql', 'baseline', 'min(City.isPartOf_CountryId)', 1, 0.15473245200064412, 'ok', '(57, 1458, 874, 57, 26388279068012, 874)']
------------
QUERIES stage1
	 create view City_s1_1731508065a681c2 as select City.isPartOf_CountryId as v0,City.CityId as v2 from City;
	 create view Person_s2_1731508065a681c2 as select Person.isLocatedIn_CityId as v2 from Person;
	 create view Country_s2_1731508065a681c2 as select Country.CountryId as v0 from Country;
QUERIES stage2
	 create temp table City_s2_1731508065a681c2 as select * from City_s1_1731508065a681c2 where (v0) in (select v0 from Country_s2_1731508065a681c2) AND (v2) in (select v2 from Person_s2_1731508065a681c2);
QUERIES stage3
QUERIES stage4
	 select min(v0) from City_s2_1731508065a681c2;
------------
['test1.sql', 'stage1', 'min(City.isPartOf_CountryId)', 1, 0.0054740639998271945, 'ok', '-']
['test1.sql', 'stage2', 'min(City.isPartOf_CountryId)', 1, 0.010601152000162983, 'ok', '-']
['test1.sql', 'stage3', 'min(City.isPartOf_CountryId)', 1, 0, 'ok', 'n/a']
['test1.sql', 'stage4', 'min(City.isPartOf_CountryId)', 1, 0.00046149599984346423, 'ok', '(0)']
  total time 0.016536711999833642
['test1.sql', 'total', 'min(City.isPartOf_CountryId)', 1, 0.016536711999833642, 'ok', '-']

#### with DuckDB and SNAP

will not work because we have aliases

#### with PostgreSQL and SNAP

In [ ]:
!chmod +x import-stats.sh

In [ ]:
%%bash
./import-stats.sh

#### with DuckDB and STATS

In [21]:
import duckdb
import os

con = duckdb.connect(database="stats/stats.duckdb")

with open("stats/sql/schema.sql", "r") as f:
    schema_init_query = f.read()
    con.execute(schema_init_query)

data_dir = f"stats/datasets"
with open("stats/sql/snb-load.sql", "r") as f:
    load_query = f.read().replace("PATHVAR", data_dir)
    con.execute(load_query)

con.close()

In [24]:
!python3 duckrunner.py "stats-queries/simple/test1.sql" "results/DDB_STATS.csv" "stats/stats.duckdb" --agg

{'--agg': True,
 '<csvout>': 'results/DDB_STATS.csv',
 '<dbfile>': 'stats/stats.duckdb',
 '<glob>': 'stats-queries/simple/test1.sql'}
stats-queries/simple/test1.sql
TreeNode-users
Qsetup SELECT min(comments.UserId) FROM comments, votes, users WHERE users.Id = comments.UserId AND users.Id = votes.UserId; TreeNode-comments comments(v0)
users(v0)
votes(v0)
 {'v0': ['votes.UserId', 'comments.UserId', 'users.Id']}
here
  width 1
  running classic
  -- debug:  SELECT min(comments.UserId) FROM comments, votes, users WHERE users.Id = comments.UserId AND users.Id = votes.UserId;
Exitcode None
['test1.sql', 'baseline', 'min(comments.UserId)', 1, 0.4080308620004871, 'ok', '(5)']
------------
QUERIES stage1
	 create view comments_s1_f35500065a68203 as select comments.UserId as v0 from comments;
	 create view users_s1_f35500065a68203 as select users.Id as v0 from users;
	 create view votes_s2_f35500065a68203 as select votes.UserId as v0 from votes;
QUERIES stage2
	 create temp table users_s2_f35500065a68203 as select * from users_s1_f35500065a68203 where (v0) in (select (v0) from votes_s2_f35500065a68203);
	 create temp table comments_s2_f35500065a68203 as select * from comments_s1_f35500065a68203 where (v0) in (select (v0) from users_s2_f35500065a68203);
QUERIES stage3
QUERIES stage4
	 select min(v0) from comments_s2_f35500065a68203;
------------
['test1.sql', 'stage1', 'min(comments.UserId)', 1, 0.02477636399999028, 'ok', '-']
['test1.sql', 'stage2', 'min(comments.UserId)', 1, 0.030245620999266976, 'ok', '(122252)']
['test1.sql', 'stage3', 'min(comments.UserId)', 1, 0, 'ok', 'n/a']
['test1.sql', 'stage4', 'min(comments.UserId)', 1, 0.0014601089997086092, 'ok', '(5)']
  total time 0.056482093998965865
['test1.sql', 'total', 'min(comments.UserId)', 1, 0.056482093998965865, 'ok', '-']

In [23]:
!python3 duckrunner.py "stats-queries/simple/test1.sql" "results/DDB_STATS_AGG.csv" "stats/stats.duckdb" --agg

{'--agg': True,
 '<csvout>': 'results/DDB_STATS_AGG.csv',
 '<dbfile>': 'stats/stats.duckdb',
 '<glob>': 'stats-queries/simple/test1.sql'}
stats-queries/simple/test1.sql
TreeNode-users
Qsetup SELECT min(comments.UserId) FROM comments, votes, users WHERE users.Id = comments.UserId AND users.Id = votes.UserId; TreeNode-comments comments(v0)
users(v0)
votes(v0)
 {'v0': ['votes.UserId', 'comments.UserId', 'users.Id']}
here
  width 1
  running classic
  -- debug:  SELECT min(comments.UserId) FROM comments, votes, users WHERE users.Id = comments.UserId AND users.Id = votes.UserId;
Exitcode None
['test1.sql', 'baseline', 'min(comments.UserId)', 1, 0.49434783600008814, 'ok', '(5)']
------------
QUERIES stage1
	 create view comments_s1_167fc00065a681f8 as select comments.UserId as v0 from comments;
	 create view users_s1_167fc00065a681f8 as select users.Id as v0 from users;
	 create view votes_s2_167fc00065a681f8 as select votes.UserId as v0 from votes;
QUERIES stage2
	 create temp table users_s2_167fc00065a681f8 as select * from users_s1_167fc00065a681f8 where (v0) in (select (v0) from votes_s2_167fc00065a681f8);
	 create temp table comments_s2_167fc00065a681f8 as select * from comments_s1_167fc00065a681f8 where (v0) in (select (v0) from users_s2_167fc00065a681f8);
QUERIES stage3
QUERIES stage4
	 select min(v0) from comments_s2_167fc00065a681f8;
------------
['test1.sql', 'stage1', 'min(comments.UserId)', 1, 0.02535651800008054, 'ok', '-']
['test1.sql', 'stage2', 'min(comments.UserId)', 1, 0.025483354999778385, 'ok', '(122252)']
['test1.sql', 'stage3', 'min(comments.UserId)', 1, 0, 'ok', 'n/a']
['test1.sql', 'stage4', 'min(comments.UserId)', 1, 0.0014478610000878689, 'ok', '(5)']
  total time 0.052287733999946795
['test1.sql', 'total', 'min(comments.UserId)', 1, 0.052287733999946795, 'ok', '-']

#### with PostgreSQL and STATS

In [25]:
!chmod +x import-stats.sh

In [26]:
%%bash
./import-stats.sh

DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
DROP TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
COPY 79851
COPY 174305
COPY 303187
COPY 11102
COPY 91976
COPY 1032
COPY 40325
COPY 328064

In [27]:
!python3 pgrunner.py "stats-queries/simple/test1.sql" "results/POS_STATS.csv" "host=postgres dbname=stats user=stats password=stats"

{'--agg': False,
 '--skip-classic': False,
 '<csvout>': 'results/POS_STATS.csv',
 '<glob>': 'stats-queries/simple/test1.sql',
 '<pgconnectstr>': 'host=postgres dbname=stats user=stats password=stats'}
stats-queries/simple/test1.sql
TreeNode-users
  width 1
  running classic
  -- debug:  create temp table _star_select as SELECT votes.UserId as votes___UserId FROM comments, votes, users WHERE users.Id = comments.UserId AND users.Id = votes.UserId;
['test1.sql', 'baseline', '', 1, 25.609564517999388, 'ok', '-']
------------
QUERIES stage1
	 create view users_s1_f48a0065a6838c as select users.Id as v0 from users;
	 create view votes_s2_f48a0065a6838c as select votes.UserId as v0 from votes;
	 create view comments_s2_f48a0065a6838c as select comments.UserId as v0 from comments;
QUERIES stage2
	 create temp table users_s2_f48a0065a6838c as select * from users_s1_f48a0065a6838c where (v0) in (select v0 from comments_s2_f48a0065a6838c) AND (v0) in (select v0 from votes_s2_f48a0065a6838c);
QUERIES stage3
	 create temp table votes_s3_f48a0065a6838c as select * from votes_s2_f48a0065a6838c where (v0) in (select v0 from users_s2_f48a0065a6838c) ;
	 create temp table comments_s3_f48a0065a6838c as select * from comments_s2_f48a0065a6838c where (v0) in (select v0 from users_s2_f48a0065a6838c) ;
QUERIES stage4
	 create temp table s4_group_6F194827262D5A82 as  select * from users_s2_f48a0065a6838c NATURAL JOIN comments_s3_f48a0065a6838c NATURAL JOIN votes_s3_f48a0065a6838c;
------------
['test1.sql', 'stage1', '', 1, 0.06134340699918539, 'ok', '-']
['test1.sql', 'stage2', '', 1, 0.08130184099991311, 'ok', '-']
['test1.sql', 'stage3', '', 1, 0.38886557800015, 'ok', '-']
['test1.sql', 'stage4', '', 1, 28.532440462000523, 'ok', '-']
  total time 29.06395128799977
['test1.sql', 'total', '', 1, 29.06395128799977, 'ok', '-']

In [28]:
!python3 pgrunner.py "stats-queries/simple/test1.sql" "results/POS_STATS_AGG.csv" "host=postgres dbname=stats user=stats password=stats" --agg

{'--agg': True,
 '--skip-classic': False,
 '<csvout>': 'results/POS_STATS_AGG.csv',
 '<glob>': 'stats-queries/simple/test1.sql',
 '<pgconnectstr>': 'host=postgres dbname=stats user=stats password=stats'}
stats-queries/simple/test1.sql
TreeNode-users
  width 1
  running classic
  -- debug:  SELECT min(comments.UserId) FROM comments, votes, users WHERE users.Id = comments.UserId AND users.Id = votes.UserId;
['test1.sql', 'baseline', 'min(comments.UserId)', 1, 0.6294853949993922, 'ok', '(5)']
------------
QUERIES stage1
	 create view comments_s1_1541b58065a683ec as select comments.UserId as v0 from comments;
	 create view users_s1_1541b58065a683ec as select users.Id as v0 from users;
	 create view votes_s2_1541b58065a683ec as select votes.UserId as v0 from votes;
QUERIES stage2
	 create temp table users_s2_1541b58065a683ec as select * from users_s1_1541b58065a683ec where (v0) in (select v0 from votes_s2_1541b58065a683ec);
	 create temp table comments_s2_1541b58065a683ec as select * from comments_s1_1541b58065a683ec where (v0) in (select v0 from users_s2_1541b58065a683ec);
QUERIES stage3
QUERIES stage4
	 select min(v0) from comments_s2_1541b58065a683ec;
------------
['test1.sql', 'stage1', 'min(comments.UserId)', 1, 0.009332749000350304, 'ok', '-']
['test1.sql', 'stage2', 'min(comments.UserId)', 1, 0.423109884999576, 'ok', '-']
['test1.sql', 'stage3', 'min(comments.UserId)', 1, 0, 'ok', 'n/a']
['test1.sql', 'stage4', 'min(comments.UserId)', 1, 0.007994231999873591, 'ok', '(5)']
  total time 0.4404368659997999
['test1.sql', 'total', 'min(comments.UserId)', 1, 0.4404368659997999, 'ok', '-']

#### with DuckDB and JOB

#### with PostgreSQL and JOB